In [ ]:
# 예제 used car 데이터프레임 생성 (train/test)
import pandas as pd

train_used_car = pd.DataFrame({
    'Brand': ['Ford','Honda','Ford','Toyota','Toyota','Toyota','Honda','Toyota','Toyota','Ford'],
    'Model': ['Sedan','Sedan','SUV','Sedan','Sedan','Sedan','Truck','SUV','Sedan','Sedan'],
    '정비 이력등급': ['없음','보통','없음','정기적','없음','정기적','없음','보통','없음','정기적'],
    '주행거리': [44676.6,51638.2,57685.7,45822.0,38865.6,56178.5,58437.6,39963.5,61611.4,73547.4],
    '중고차가격': [20052.0,16511.6,13936.9,25494.9,21297.9,22708.3,15314.2,23178.7,13233.2,11806.2]
})

test_used_car = pd.DataFrame({
    'Brand': ['Toyota','Ford','Honda','Chevrolet','Toyota'],
    'Model': ['SUV','Truck','Sedan','Sedan','Truck'],
    '정비 이력등급': ['보통','없음','정기적','정기적','없음'],
    '주행거리': [45000,30000,40000,50000,55000]
})

# 미리 확인
display(train_used_car.head())
display(test_used_car)

In [13]:
# 추가 가상 데이터 100개 생성 후 CSV에 병합 저장
import random
from pathlib import Path

# 옵션 및 가중치
brand_choices = ['Toyota', 'Ford', 'Honda', 'Chevrolet']
brand_weights = [0.4, 0.3, 0.2, 0.1]
model_choices = ['Sedan', 'SUV', 'Truck']
model_weights = [0.5, 0.3, 0.2]
maint_choices = ['없음', '보통', '정기적']
maint_weights = [0.4, 0.3, 0.3]

brand_base = {'Toyota': 23000, 'Ford': 20000, 'Honda': 19500, 'Chevrolet': 18500}
model_adj = {'Sedan': 0, 'SUV': 2000, 'Truck': 1000}
maint_adj = {'없음': 0, '보통': 500, '정기적': 1500}

random.seed(42)

# Train용 100개 생성 (가격 포함)
train_rows = []
for _ in range(100):
    b = random.choices(brand_choices, weights=brand_weights, k=1)[0]
    m = random.choices(model_choices, weights=model_weights, k=1)[0]
    g = random.choices(maint_choices, weights=maint_weights, k=1)[0]
    mileage = round(random.uniform(30000, 90000), 1)
    price = brand_base[b] + model_adj[m] + maint_adj[g] - (mileage * 0.08) + random.uniform(-800, 800)
    price = round(max(price, 5000.0), 1)
    train_rows.append({'Brand': b, 'Model': m, '정비 이력등급': g, '주행거리': mileage, '중고차가격': price})

synthetic_train = pd.DataFrame(train_rows)

# Test용 100개 생성 (가격 제외)
test_rows = []
for _ in range(100):
    b = random.choices(brand_choices, weights=brand_weights, k=1)[0]
    m = random.choices(model_choices, weights=model_weights, k=1)[0]
    g = random.choices(maint_choices, weights=maint_weights, k=1)[0]
    mileage = round(random.uniform(30000, 90000), 1)
    test_rows.append({'Brand': b, 'Model': m, '정비 이력등급': g, '주행거리': mileage})

synthetic_test = pd.DataFrame(test_rows)

# 기존 CSV 읽고 병합 저장
base_dir = Path('MachineLearningExample/dacon_1')
train_path = base_dir / 'train_used_car_sample.csv'
test_path = base_dir / 'test_used_car_sample.csv'

existing_train = pd.read_csv(train_path)
existing_test = pd.read_csv(test_path)

updated_train = pd.concat([existing_train, synthetic_train], ignore_index=True)
updated_test = pd.concat([existing_test, synthetic_test], ignore_index=True)

updated_train.to_csv(train_path, index=False)
updated_test.to_csv(test_path, index=False)

# 노트북 변수도 업데이트
train_used_car = updated_train.copy()
test_used_car = updated_test.copy()

print(f"train rows: {len(existing_train)} -> {len(updated_train)}")
print(f"test rows: {len(existing_test)} -> {len(updated_test)}")

FileNotFoundError: [Errno 2] No such file or directory: 'MachineLearningExample/dacon_1/train_used_car_sample.csv'

In [6]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
# 랜덤 포레스트 분류 모델 초기화
model = RandomForestClassifier()

train_income = pd.read_csv('humandata/train.csv')

# 타겟 변수와 특성 분리
train_income.head(5)

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,0,32,Private,309513,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
1,1,33,Private,205469,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
2,2,46,Private,149949,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
3,3,23,Private,193090,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,0
4,4,55,Private,60193,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,0

In [7]:
display(train_income.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17480 entries, 0 to 17479
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              17480 non-null  int64
 1   age             17480 non-null  int64
 2   workclass       15644 non-null  object
 3   fnlwgt          17480 non-null  int64
 4   education       17480 non-null  object
 5   education.num   17480 non-null  int64
 6   marital.status  17480 non-null  object
 7   occupation      15637 non-null  object
 8   relationship    17480 non-null  object
 9   race            17480 non-null  object
 10  sex             17480 non-null  object
 11  capital.gain    17480 non-null  int64
 12  capital.loss    17480 non-null  int64
 13  hours.per.week  17480 non-null  int64
 14  native.country  16897 non-null  object
 15  target          17480 non-null  int64
dtypes: int64(8), object(8)
memory usage: 2.1+ MB

None

In [8]:
display(train_income['occupation'].unique())
display(train_income['race'].unique())
display(train_income['education'].unique())

array(['Craft-repair', 'Exec-managerial', 'Adm-clerical',
       'Prof-specialty', 'Machine-op-inspct', 'Other-service', 'Sales',
       'Farming-fishing', 'Transport-moving', 'Handlers-cleaners',
       'Tech-support', 'Protective-serv', 'Priv-house-serv',
       'Armed-Forces', nan], dtype=object)

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

array(['Assoc-acdm', 'Some-college', 'Bachelors', 'HS-grad',
       'Prof-school', '10th', '11th', 'Masters', '7th-8th', '1st-4th',
       'Assoc-voc', '5th-6th', 'Doctorate', '9th', '12th', 'Preschool'],
      dtype=object)

# Ordinal(순서형) 범주형 변수 인코딩

## label encoding 의 이해 및 구현
## label encoding 의 한계와 적용시 주의점 이해 
## Direct Mapping 통한 순서형 변수 인코딩 
## Ordinal encoding 통한 순서형 변수 인코딩 방법 익히기

In [9]:
# label encoding 

import pandas as pd

# label encoding 

## scikit-learn library 

- 각 카테고리(범주)에 고유한 정수를 할당 
- 기계 학습 모델이 이해할 수 있는 형태로 데이터를 변환

In [11]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd 

train_used_car = pd.read_csv('train_used_car_sample.csv')
test_used_car = pd.read_csv('test_used_car_sample.csv')

categorical_var = ['Brand',  'Model', '정비 이력등급']

label_encoders = {}

for col in categorical_var:
    le_train = LabelEncoder()

    train_used_car[col] = le_train.fit_transform(train_used_car[col])
    label_encoders[col] = le_train
    
display(train_used_car.head())

# 인코딩을 어떻게 수행했는지 확인
for col in categorical_var:
    display(f"{col} :")
    for i in range(len(label_encoders[col].classes_)):
        display(f"{label_encoders[col].classes_[i]} ({i})")

   Brand  Model  정비 이력등급     주행거리    중고차가격
0      0      1        1  44676.6  20052.0
1      1      1        0  51638.2  16511.6
2      0      0        1  57685.7  13936.9
3      2      1        2  45822.0  25494.9
4      2      1        1  38865.6  21297.9

'Brand :'

'Ford (0)'

'Honda (1)'

'Toyota (2)'

'Model :'

'SUV (0)'

'Sedan (1)'

'Truck (2)'

'정비 이력등급 :'

'보통 (0)'

'없음 (1)'

'정기적 (2)'

In [14]:
# 예제 used car 데이터프레임 생성 (train/test)
import pandas as pd

train_used_car = pd.DataFrame({
    'Brand': ['Ford','Honda','Ford','Toyota','Toyota','Toyota','Honda','Toyota','Toyota','Ford'],
    'Model': ['Sedan','Sedan','SUV','Sedan','Sedan','Sedan','Truck','SUV','Sedan','Sedan'],
    '정비 이력등급': ['없음','보통','없음','정기적','없음','정기적','없음','보통','없음','정기적'],
    '주행거리': [44676.6,51638.2,57685.7,45822.0,38865.6,56178.5,58437.6,39963.5,61611.4,73547.4],
    '중고차가격': [20052.0,16511.6,13936.9,25494.9,21297.9,22708.3,15314.2,23178.7,13233.2,11806.2]
})

test_used_car = pd.DataFrame({
    'Brand': ['Toyota','Ford','Honda','Chevrolet','Toyota'],
    'Model': ['SUV','Truck','Sedan','Sedan','Truck'],
    '정비 이력등급': ['보통','없음','정기적','정기적','없음'],
    '주행거리': [45000,30000,40000,50000,55000]
})

# 미리 확인
display(train_used_car.head())
display(test_used_car)

    Brand  Model 정비 이력등급     주행거리    중고차가격
0    Ford  Sedan      없음  44676.6  20052.0
1   Honda  Sedan      보통  51638.2  16511.6
2    Ford    SUV      없음  57685.7  13936.9
3  Toyota  Sedan     정기적  45822.0  25494.9
4  Toyota  Sedan      없음  38865.6  21297.9

       Brand  Model 정비 이력등급   주행거리
0     Toyota    SUV      보통  45000
1       Ford  Truck      없음  30000
2      Honda  Sedan     정기적  40000
3  Chevrolet  Sedan     정기적  50000
4     Toyota  Truck      없음  55000

In [15]:
test_ex1 = test_used_car.copy()

for col in categorical_var:
    
    try :
        test_ex1[col] = label_encoders[col].transform(test_ex1[col])
    except Exception as e:
         print(f"label_encoders {col} Error: {e}")
        
    
display(test_ex1.head())
display(test_ex1[categorical_var].dtypes)

label_encoders Brand Error: y contains previously unseen labels: 'Chevrolet'

       Brand  Model  정비 이력등급   주행거리
0     Toyota      0        0  45000
1       Ford      2        1  30000
2      Honda      1        2  40000
3  Chevrolet      1        2  50000
4     Toyota      2        1  55000

Brand      object
Model       int64
정비 이력등급     int64
dtype: object

In [16]:
test_ex2 = test_used_car.copy()

# train_used_car 데이터셋의 라벨 인코더 클래스에 '기타' 범주를 다시 추가
for le in label_encoders.values():
    le.classes_ = np.append(le.classes_, 'Other')

# 새로운 범주값을 '기타'로 매핑하고 라벨 인코더를 적용하는 과정을 하나의 루프로 합치기
for col in categorical_var:
    # 새로운 값들을 '기타'로 매핑
    test_ex2[col] = test_ex2[col].apply(lambda x: x if x in label_encoders[col].classes_ else 'Other')
    # 라벨 인코더 적용
    test_ex2[col] = label_encoders[col].transform(test_ex2[col])

# 변환된 test_used_car 데이터셋 보여주기
display(test_ex2.head())

   Brand  Model  정비 이력등급   주행거리
0      2      0        0  45000
1      0      2        1  30000
2      1      1        2  40000
3      3      1        2  50000
4      2      2        1  55000

# label encoding 의 경우 명목형 변수에 적용 될 때 문제가 있음

- 고유 범주 값에 순서나 등ㅇ급의 의미가 없음. -> 이들에게 임의의 숫자를 할당하는 라벨 인코딩은 실제로 데이터에 없는 정보, 즉, 숫자 간의 순서나 중요도를 부여하는문제를 일으킬 수 있음.

- head 정보를 기반으로 `unique()` 정보를 확인 한다. 

```python
train_income = pd.read_csv("train_income_simple.csv")

display(train_income.head())

display(f"'occupation' 컬럼의 고유값 : {train_income['occupation'].unique()}")
display(f"'race' 컬럼의 고유값 : {train_income['race'].unique()}")
display(f"'education' 컬럼의 고유값 : {train_income['education'].unique()}")
```

- LabelEncoder
 
```python
from sklearn.preprocessing import LabelEncoder

train_ex1 = train_income.copy()

le_train = LabelEncoder()
train_ex1['education'] = le_train.fit_transform(train_ex1['education'])

# education column 변화 학인
display(train_ex1.head())
display(train_ex1['education'].dtypes)
# education colum 고유값 확인
display(f"'education' 컬럼의 고유값 : {train_ex1['education'].unique()}")

```

# Test set data에 적용하기 

```python
test_income = pd.read_csv("test_income_simple.csv")

test_ex1 = test_income.copy()
 
new_cat = set(test_ex1['education'].unique()) - set(le_train.classes_) 
display(f"new categery that not in le_train.classes_ : {new_cat}")

test_ex1['education'] =  le_train.transform(test_ex1['education'])
display(test_ex1)
```

In [17]:
train_ex2 = train_income.copy()
education_map = {'Preschool' : 0, 
                 '1st-4th' : 1, 
                 '5th-6th' : 2, 
                 '7th-8th' : 3,
                 '9th' : 4,
                 '10th' : 5,
                 '11th' : 6, 
                 '12th': 7, 
                 'HS-grad' : 8,
                 'Some-college' : 9,
                 'Assoc-voc' : 10,
                 'Assoc-acdm' : 11,
                 'Bachelors' : 12,
                 'Masters' : 13,
                 'Prof-school' : 14,
                 'Doctorate': 15 } 

train_ex2['education'] = train_ex2['education'].replace(education_map)
display(train_ex2.head())
display(train_ex2['education'].dtype)
display(train_ex2['education'].unique())

/var/folders/ct/csn7gw6j4lzg64vvct28bvj00000gn/T/ipykernel_92802/3268682417.py:19: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_ex2['education'] = train_ex2['education'].replace(education_map)

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,0,32,Private,309513,11,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
1,1,33,Private,205469,9,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
2,2,46,Private,149949,9,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
3,3,23,Private,193090,12,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,0
4,4,55,Private,60193,8,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,0

dtype('int64')

array([11,  9, 12,  8, 14,  5,  6, 13,  3,  1, 10,  2, 15,  4,  7,  0])

# labelEncoder는 각 범주를 자동으로 정수로 변환하지만, 범주 간의 순서 또는 중요도를 고려 안함. 
# 따라서, 순서형 범주형 변수의 경우, 범주의 순서를 고려하여 직접 매핑하는 것이 더 적합