In [ ]:
# 예제 used car 데이터프레임 생성 (train/test)
import pandas as pd

train_used_car = pd.DataFrame({
    'Brand': ['Ford','Honda','Ford','Toyota','Toyota','Toyota','Honda','Toyota','Toyota','Ford'],
    'Model': ['Sedan','Sedan','SUV','Sedan','Sedan','Sedan','Truck','SUV','Sedan','Sedan'],
    '정비 이력등급': ['없음','보통','없음','정기적','없음','정기적','없음','보통','없음','정기적'],
    '주행거리': [44676.6,51638.2,57685.7,45822.0,38865.6,56178.5,58437.6,39963.5,61611.4,73547.4],
    '중고차가격': [20052.0,16511.6,13936.9,25494.9,21297.9,22708.3,15314.2,23178.7,13233.2,11806.2]
})

test_used_car = pd.DataFrame({
    'Brand': ['Toyota','Ford','Honda','Chevrolet','Toyota'],
    'Model': ['SUV','Truck','Sedan','Sedan','Truck'],
    '정비 이력등급': ['보통','없음','정기적','정기적','없음'],
    '주행거리': [45000,30000,40000,50000,55000]
})

# 미리 확인
display(train_used_car.head())
display(test_used_car)

In [6]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
# 랜덤 포레스트 분류 모델 초기화
model = RandomForestClassifier()

train_income = pd.read_csv('humandata/train.csv')

# 타겟 변수와 특성 분리
train_income.head(5)

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,0,32,Private,309513,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
1,1,33,Private,205469,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
2,2,46,Private,149949,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
3,3,23,Private,193090,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,0
4,4,55,Private,60193,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,0

In [7]:
display(train_income.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17480 entries, 0 to 17479
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              17480 non-null  int64
 1   age             17480 non-null  int64
 2   workclass       15644 non-null  object
 3   fnlwgt          17480 non-null  int64
 4   education       17480 non-null  object
 5   education.num   17480 non-null  int64
 6   marital.status  17480 non-null  object
 7   occupation      15637 non-null  object
 8   relationship    17480 non-null  object
 9   race            17480 non-null  object
 10  sex             17480 non-null  object
 11  capital.gain    17480 non-null  int64
 12  capital.loss    17480 non-null  int64
 13  hours.per.week  17480 non-null  int64
 14  native.country  16897 non-null  object
 15  target          17480 non-null  int64
dtypes: int64(8), object(8)
memory usage: 2.1+ MB

None

In [8]:
display(train_income['occupation'].unique())
display(train_income['race'].unique())
display(train_income['education'].unique())

array(['Craft-repair', 'Exec-managerial', 'Adm-clerical',
       'Prof-specialty', 'Machine-op-inspct', 'Other-service', 'Sales',
       'Farming-fishing', 'Transport-moving', 'Handlers-cleaners',
       'Tech-support', 'Protective-serv', 'Priv-house-serv',
       'Armed-Forces', nan], dtype=object)

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

array(['Assoc-acdm', 'Some-college', 'Bachelors', 'HS-grad',
       'Prof-school', '10th', '11th', 'Masters', '7th-8th', '1st-4th',
       'Assoc-voc', '5th-6th', 'Doctorate', '9th', '12th', 'Preschool'],
      dtype=object)

# Ordinal(순서형) 범주형 변수 인코딩

## label encoding 의 이해 및 구현
## label encoding 의 한계와 적용시 주의점 이해 
## Direct Mapping 통한 순서형 변수 인코딩 
## Ordinal encoding 통한 순서형 변수 인코딩 방법 익히기

In [9]:
# label encoding 

import pandas as pd

# label encoding 

## scikit-learn library 

- 각 카테고리(범주)에 고유한 정수를 할당 
- 기계 학습 모델이 이해할 수 있는 형태로 데이터를 변환

In [10]:
from sklearn.preprocessing import LabelEncoder
import numpy as np

categorical_var = ['Brand',  'Model', '정비 이력등급']

label_encoders = {}

for col in categorical_var:
    le_train = LabelEncoder()

    train_used_car[col] = le_train.fit_transform(train_used_car[col])
    label_encoders[col] = le_train
    
display(train_used_car.head())

# 인코딩을 어떻게 수행했는지 확인
for col in categorical_var:
    display(f"{col} :")
    for i in range(len(label_encoders[col].classes_)):
        display(f"{label_encoders[col].classes_[i]} ({i})")

KeyError: 'Brand'

In [ ]:
# 예제 used car 데이터프레임 생성 (train/test)
import pandas as pd

train_used_car = pd.DataFrame({
    'Brand': ['Ford','Honda','Ford','Toyota','Toyota','Toyota','Honda','Toyota','Toyota','Ford'],
    'Model': ['Sedan','Sedan','SUV','Sedan','Sedan','Sedan','Truck','SUV','Sedan','Sedan'],
    '정비 이력등급': ['없음','보통','없음','정기적','없음','정기적','없음','보통','없음','정기적'],
    '주행거리': [44676.6,51638.2,57685.7,45822.0,38865.6,56178.5,58437.6,39963.5,61611.4,73547.4],
    '중고차가격': [20052.0,16511.6,13936.9,25494.9,21297.9,22708.3,15314.2,23178.7,13233.2,11806.2]
})

test_used_car = pd.DataFrame({
    'Brand': ['Toyota','Ford','Honda','Chevrolet','Toyota'],
    'Model': ['SUV','Truck','Sedan','Sedan','Truck'],
    '정비 이력등급': ['보통','없음','정기적','정기적','없음'],
    '주행거리': [45000,30000,40000,50000,55000]
})

# 미리 확인
display(train_used_car.head())
display(test_used_car)