In [1]:
import pandas as pd

data = [20, 10, 40, 50, 60, 30, 70, 80]
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

series = pd.Series(data, index=index, name='my_series')
series

a    20
b    10
c    40
d    50
e    60
f    30
g    70
h    80
Name: my_series, dtype: int64

In [2]:
value_at_b = series.loc['b']
value_at_three = series.iloc[2:]

print(series)
print('index b :', value_at_b)
print('3ë²ˆì§¸ ê°’(0ë¶€í„°ì‹œì‘): ', value_at_three)

a    20
b    10
c    40
d    50
e    60
f    30
g    70
h    80
Name: my_series, dtype: int64
index b : 10
3ë²ˆì§¸ ê°’(0ë¶€í„°ì‹œì‘):  c    40
d    50
e    60
f    30
g    70
h    80
Name: my_series, dtype: int64

In [6]:
value_at_b = series.loc['b']
value_at_one = series.iloc[1]
print('index b :', value_at_b)
print('1ë²ˆì§¸ ê°’(0ë¶€í„°ì‹œì‘): ', value_at_one)

index b : 10
1ë²ˆì§¸ ê°’(0ë¶€í„°ì‹œì‘):  10

In [7]:
value_b_to_d = series['b' :'d']
print(value_b_to_d)

value_2_to_before_5 = series[2 : 5]
print(value_2_to_before_5)

b    10
c    40
d    50
Name: my_series, dtype: int64
c    40
d    50
e    60
Name: my_series, dtype: int64

In [8]:
# ì¡°ê±´ ì„¤ì • (ì˜ˆ: 30 ì´ìƒì¸ ê°’ë§Œ ì„ íƒ)
condition = series >= 30
print('condition:', condition)
# ì¡°ê±´ì— ë§ëŠ” ìš”ì†Œ í•„í„°ë§
filtered_series = series[condition]
filtered_series

condition: a    False
b    False
c     True
d     True
e     True
f     True
g     True
h     True
Name: my_series, dtype: bool

c    40
d    50
e    60
f    30
g    70
h    80
Name: my_series, dtype: int64

In [10]:
# series sort_values 
sorted_series = series.sort_values()
print('sorted_series:\n', sorted_series)

sorted_series:
 b    10
a    20
f    30
c    40
d    50
e    60
g    70
h    80
Name: my_series, dtype: int64

In [11]:
series_sorted = series.sort_values(ascending=False)
series_sorted

h    80
g    70
e    60
d    50
c    40
f    30
a    20
b    10
Name: my_series, dtype: int64

In [13]:
series_sorted = series.sort_index()
# ascending( default=True) : ì˜¤ë¦„ì°¨ìˆœ, False: ë‚´ë¦¼ì°¨ìˆœ
# inplace ( default=False) : Trueë©´ ì›ë³¸ ë°ì´í„° ë³€ê²½, Falseë©´ ìƒˆë¡œìš´ ê°ì²´ ë°˜í™˜
# na_position ( default='last') : 'first'ë©´ NaNì„ ì²˜ìŒì—, 'last'ë©´ ë§ˆì§€ë§‰ì— ìœ„ì¹˜
series_sorted

a    20
b    10
c    40
d    50
e    60
f    30
g    70
h    80
Name: my_series, dtype: int64

In [17]:
# series rank function
ranked_series = series.rank()
# method='average' : ë™ì ì¸ ê²½ìš° í‰ê·  ìˆœìœ„
# method='min' : ë™ì ì¸ ê²½ìš° ìµœì†Œ ìˆœìœ„
# method='max' : ë™ì ì¸ ê²½ìš° ìµœëŒ€ ìˆœìœ„
# method='first' : ë™ì ì¸ ê²½ìš° ë¨¼ì € ë‚˜íƒ€ë‚˜ëŠ” ìˆœìœ„
# method='dense' : ë™ì ì¸ ê²½ìš° ìˆœìœ„ë¥¼ ê±´ë„ˆë›°ì§€ ì•ŠìŒ
# ascending=True : ì˜¤ë¦„ì°¨ìˆœ, False : ë‚´ë¦¼ì°¨ìˆœ
# na_option='keep' : NaNì„ ìœ ì§€, 'top' : NaNì„ ê°€ì¥ ìœ„ì—, 'bottom' : NaNì„ ê°€ì¥ ì•„ë˜ì—
# pct=True : ë°±ë¶„ìœ¨ ìˆœìœ„, default=False
ranked_series = series.rank(method='average', ascending=True, na_option='keep')
print('ranked_series:\n', ranked_series)

ranked_series:
 a    2.0
b    1.0
c    4.0
d    5.0
e    6.0
f    3.0
g    7.0
h    8.0
Name: my_series, dtype: float64

In [18]:
# pandas apply function
# apply() ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜, ë‚´ì¥ í•¨ìˆ˜ë¥¼ ì ìš©í•  ìˆ˜ ìˆìŒ
import pandas as pd
data = [1,2,3,4,5]
series= pd.Series(data, name='my_series')

In [19]:
def custom_function(x):
    # ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜ì˜ ë‚´ìš©ì„ ì‘ì„±
    if x >= 3:
        result = x + 2
    else:
        result = x + 4
    return result

result_series = series.apply(custom_function)
result_series

0    5
1    6
2    5
3    6
4    7
Name: my_series, dtype: int64

In [20]:
result_series = series.apply(lambda x: x + 2 if x >= 3 else x + 4)
result_series

0    5
1    6
2    5
3    6
4    7
Name: my_series, dtype: int64

In [21]:
result_series = series.map(lambda x: x ** 2)
result_series

0     1
1     4
2     9
3    16
4    25
Name: my_series, dtype: int64

In [22]:
data = ['apple', 'banana', 'cherry', 'date', 'banana']
series = pd.Series(data)

# 'banana'ë¥¼ 'orange'ë¡œ ëŒ€ì²´
result_series = series.replace('banana', 'orange')
result_series

0     apple
1    orange
2    cherry
3      date
4    orange
dtype: object

In [23]:
result_series = series.replace('^a', 'fruit', regex=True)
result_series

0    fruitpple
1       banana
2       cherry
3         date
4       banana
dtype: object

In [26]:
# cut function
# ì£¼ë¡œ ì—°ì†ì ì¸ ë°ì´í„°ë¥¼ ì¹´í…Œê³ ë¦¬ë¡œ ë‚˜ëˆŒë•Œ ì‚¬ìš©

data = [1, 7, 5, 3, 9, 2, 6, 4, 8]
series = pd.Series(data)

bins = [0, 3, 6, 9]
labels = ['low', 'medium', 'high']
result_series = pd.cut(series, bins=bins, labels=labels)
#series: ë‚˜ëˆŒ ëŒ€ìƒ ì‹œë¦¬ì¦ˆ ë˜ëŠ” ë°°ì—´
# bins: êµ¬ê°„ì˜ ê²½ê³„ê°’ì„ ì§€ì •í•˜ëŠ” ë¦¬ìŠ¤íŠ¸
# labels: ê° êµ¬ê°„ì— ëŒ€í•œ ë ˆì´ë¸”ì„ ì§€ì •í•˜ëŠ” ë¦¬ìŠ¤íŠ¸
# right: True (default)ë©´ êµ¬ê°„ì˜ ì˜¤ë¥¸ìª½ ê²½ê³„ê°’ í¬í•¨, False: í¬í•¨í•˜ì§€ ì•ŠìŒ
# include_lowest: Trueë©´ ì²« ë²ˆì§¸ êµ¬ê°„ì˜ ì™¼ìª½ ê²½ê³„ê°’ í¬í•¨, False: í¬í•¨í•˜ì§€ ì•ŠìŒ
# ordered: Trueë©´ ë ˆì´ë¸”ì´ ìˆœì„œëŒ€ë¡œ ì •ë ¬ë¨, Falseë©´ ìˆœì„œ ì—†ìŒ
# retbins: Trueë©´ êµ¬ê°„ ê²½ê³„ê°’ì„ ë°˜í™˜, False (default)ë©´ ë°˜í™˜í•˜ì§€ ì•ŠìŒ
# precision: êµ¬ê°„ ê²½ê³„ê°’ì˜ ì†Œìˆ˜ì  ìë¦¬ìˆ˜ ì§€ì •
# duplicates: 'raise' (default)ë©´ ì¤‘ë³µëœ ê²½ê³„ê°’ì´ ìˆìœ¼ë©´ ì˜¤ë¥˜ ë°œìƒ, 'drop'ì´ë©´ ì¤‘ë³µëœ ê²½ê³„ê°’ì„ ì œê±°
# right: Trueë©´ êµ¬ê°„ì˜ ì˜¤ë¥¸ìª½ ê²½ê³„ê°’ í¬í•¨, Falseë©´ í¬í•¨í•˜ì§€ ì•ŠìŒ
# include_lowest: Trueë©´ ì²« ë²ˆì§¸ êµ¬ê°„ì˜ ì™¼ìª½ ê²½ê³„ê°’ í¬í•¨, Falseë©´ í¬í•¨í•˜ì§€ ì•ŠìŒ

#
result_series

0       low
1      high
2    medium
3       low
4      high
5       low
6    medium
7    medium
8      high
dtype: category
Categories (3, object): ['low' < 'medium' < 'high']

In [27]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(data)

def custom_function(x):
    # í•¨ìˆ˜ì˜ ë‚´ìš©ì„ ë§Œë“¤ì–´ ì£¼ì„¸ìš”.
    if x % 3 == 0:
        return x*2
    elif x % 4 == 0:
        return x*3
    else:
        return x
    return x

result_series = series.map(custom_function)
result_series

0     1
1     2
2     6
3    12
4     5
5    12
6     7
7    24
8    18
9    10
dtype: int64

In [28]:
data = [10, 20, 30, 40, 50, 60]
series = pd.Series(data)

# replace í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ê°’ì„ êµì²´
result_series = series.replace({30: 35, 40:45})
result_series

0    10
1    20
2    35
3    45
4    50
5    60
dtype: int64

# ê²°ì¸¡ì¹˜ì™€ ì¤‘ë³µ ê°’

In [29]:
import pandas as pd

data = [20, None, 40, 50, None, 30, 70, None, 20, 50]
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

series = pd.Series(data, index=index)
series

a    20.0
b     NaN
c    40.0
d    50.0
e     NaN
f    30.0
g    70.0
h     NaN
i    20.0
j    50.0
dtype: float64

In [30]:
series_result = series.dropna()
print('ê²°ì¸¡ì¹˜ ì œê±° í›„ ì‹œë¦¬ì¦ˆ:\n', series_result)

ê²°ì¸¡ì¹˜ ì œê±° í›„ ì‹œë¦¬ì¦ˆ:
 a    20.0
c    40.0
d    50.0
f    30.0
g    70.0
i    20.0
j    50.0
dtype: float64

In [31]:
result_series = series.fillna(0)
print('ê²°ì¸¡ì¹˜ 0ìœ¼ë¡œ ì±„ìš´ ì‹œë¦¬ì¦ˆ:\n', result_series)

ê²°ì¸¡ì¹˜ 0ìœ¼ë¡œ ì±„ìš´ ì‹œë¦¬ì¦ˆ:
 a    20.0
b     0.0
c    40.0
d    50.0
e     0.0
f    30.0
g    70.0
h     0.0
i    20.0
j    50.0
dtype: float64

In [36]:
print('ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ì‹œë¦¬ì¦ˆ:\n', series)
result_series = series.duplicated(keep='first') #default: keep='first' ì²«ë²ˆì§¸ ì¤‘ë³µê°’ë§Œ True
# keep='last' : ë§ˆì§€ë§‰ ì¤‘ë³µê°’ë§Œ True, keep=False : ëª¨ë“  ì¤‘ë³µê°’ True
result_series

ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ì‹œë¦¬ì¦ˆ:
 a    20.0
b     NaN
c    40.0
d    50.0
e     NaN
f    30.0
g    70.0
h     NaN
i    20.0
j    50.0
dtype: float64

a    False
b    False
c    False
d    False
e     True
f    False
g    False
h     True
i     True
j     True
dtype: bool

In [37]:
result_series = series.drop_duplicates()
print('ì¤‘ë³µê°’ ì œê±° í›„ ì‹œë¦¬ì¦ˆ:\n', result_series)

ì¤‘ë³µê°’ ì œê±° í›„ ì‹œë¦¬ì¦ˆ:
 a    20.0
b     NaN
c    40.0
d    50.0
f    30.0
g    70.0
dtype: float64

In [38]:
mean = series.mean()

result_series = series.fillna(mean)
result_series

a    20.0
b    40.0
c    40.0
d    50.0
e    40.0
f    30.0
g    70.0
h    40.0
i    20.0
j    50.0
dtype: float64

In [ ]:
# ğŸ¯ Pandas vs NumPy ìš©ë„ ì°¨ì´ì  ì™„ì „ ê°€ì´ë“œ

## ğŸ“Š í•µì‹¬ ì°¨ì´ì  ìš”ì•½

### NumPy (Numerical Python)
- **ëª©ì **: ìˆ˜ì¹˜ ê³„ì‚° ë° ë°°ì—´ ì—°ì‚°
- **ì£¼ìš” ë°ì´í„° êµ¬ì¡°**: ndarray (ë‹¤ì°¨ì› ë°°ì—´)
- **íŠ¹ì§•**: ë¹ ë¥¸ ìˆ˜í•™ì  ì—°ì‚°, ë©”ëª¨ë¦¬ íš¨ìœ¨ì„±
- **ìš©ë„**: ê³¼í•™ ê³„ì‚°, ì„ í˜•ëŒ€ìˆ˜, í†µê³„ ì—°ì‚°

### Pandas (Panel Data)
- **ëª©ì **: ë°ì´í„° ë¶„ì„ ë° ì¡°ì‘
- **ì£¼ìš” ë°ì´í„° êµ¬ì¡°**: Series, DataFrame
- **íŠ¹ì§•**: ë°ì´í„° ë¼ë²¨ë§, ê²°ì¸¡ì¹˜ ì²˜ë¦¬, ê·¸ë£¹í™”
- **ìš©ë„**: ë°ì´í„° ì „ì²˜ë¦¬, ë¶„ì„, ì‹œê°í™”

## ğŸ¯ ì–¸ì œ ë¬´ì—‡ì„ ì‚¬ìš©í• ê¹Œ?

| ìƒí™© | NumPy ì‚¬ìš© | Pandas ì‚¬ìš© |
|------|-----------|-------------|
| ìˆ˜í•™ ê³„ì‚° | âœ… í–‰ë ¬ ì—°ì‚°, ì‚¼ê°í•¨ìˆ˜ | âŒ ë³µì¡í•¨ |
| ë°ì´í„° ë¶„ì„ | âŒ ë¼ë²¨ ì—†ìŒ | âœ… ì¸ë±ìŠ¤, ì»¬ëŸ¼ëª… |
| íŒŒì¼ ì…ì¶œë ¥ | âŒ ì œí•œì  | âœ… CSV, Excel, JSON |
| ê²°ì¸¡ì¹˜ ì²˜ë¦¬ | âŒ ì§ì ‘ êµ¬í˜„ | âœ… fillna(), dropna() |
| ê·¸ë£¹ ë¶„ì„ | âŒ ë³µì¡í•¨ | âœ… groupby() |
| ì‹œê³„ì—´ ë¶„ì„ | âŒ ê¸°ë³¸ ê¸°ëŠ¥ ì—†ìŒ | âœ… ë‚ ì§œ ì¸ë±ìŠ¤ ì§€ì› |

In [39]:
print("=== ğŸ“Š NumPy vs Pandas ê¸°ë³¸ êµ¬ì¡° ë¹„êµ ===")
import numpy as np
import pandas as pd

# ë™ì¼í•œ ë°ì´í„°ë¥¼ ë‘ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¡œ í‘œí˜„
data = [10, 20, 30, 40, 50]

print("ğŸ”¢ NumPy Array:")
numpy_array = np.array(data)
print(f"   ë°ì´í„°: {numpy_array}")
print(f"   íƒ€ì…: {type(numpy_array)}")
print(f"   í˜•íƒœ: {numpy_array.shape}")
print(f"   ë°ì´í„° íƒ€ì…: {numpy_array.dtype}")

print("\nğŸ“Š Pandas Series:")
pandas_series = pd.Series(data, index=['A', 'B', 'C', 'D', 'E'], name='values')
print(pandas_series)
print(f"   íƒ€ì…: {type(pandas_series)}")
print(f"   ì¸ë±ìŠ¤: {pandas_series.index.tolist()}")
print(f"   ì´ë¦„: {pandas_series.name}")

print("\n=== ğŸ¯ ì ‘ê·¼ ë°©ì‹ ì°¨ì´ ===")
print("NumPy - ìœ„ì¹˜ ê¸°ë°˜ ì ‘ê·¼:")
print(f"   ì²« ë²ˆì§¸ ìš”ì†Œ: {numpy_array[0]}")
print(f"   ë§ˆì§€ë§‰ ìš”ì†Œ: {numpy_array[-1]}")
print(f"   ìŠ¬ë¼ì´ì‹±: {numpy_array[1:4]}")

print("\nPandas - ë¼ë²¨ ê¸°ë°˜ ì ‘ê·¼:")
print(f"   'A' ì¸ë±ìŠ¤: {pandas_series['A']}")
print(f"   'E' ì¸ë±ìŠ¤: {pandas_series['E']}")
print(f"   'B'~'D' êµ¬ê°„: {pandas_series['B':'D'].values}")

print("\n=== ğŸ§® ì—°ì‚° ë°©ì‹ ì°¨ì´ ===")
print("NumPy - ìˆœìˆ˜ ìˆ˜ì¹˜ ì—°ì‚°:")
numpy_squared = numpy_array ** 2
print(f"   ì œê³±: {numpy_squared}")
print(f"   í‰ê· : {np.mean(numpy_array):.2f}")
print(f"   í‘œì¤€í¸ì°¨: {np.std(numpy_array):.2f}")

print("\nPandas - ì¸ë±ìŠ¤ ìœ ì§€ ì—°ì‚°:")
pandas_squared = pandas_series ** 2
print("   ì œê³±:")
print(pandas_squared)
print(f"   í‰ê· : {pandas_series.mean():.2f}")
print(f"   í‘œì¤€í¸ì°¨: {pandas_series.std():.2f}")

=== ğŸ“Š NumPy vs Pandas ê¸°ë³¸ êµ¬ì¡° ë¹„êµ ===
ğŸ”¢ NumPy Array:
   ë°ì´í„°: [10 20 30 40 50]
   íƒ€ì…: <class 'numpy.ndarray'>
   í˜•íƒœ: (5,)
   ë°ì´í„° íƒ€ì…: int64

ğŸ“Š Pandas Series:
A    10
B    20
C    30
D    40
E    50
Name: values, dtype: int64
   íƒ€ì…: <class 'pandas.core.series.Series'>
   ì¸ë±ìŠ¤: ['A', 'B', 'C', 'D', 'E']
   ì´ë¦„: values

=== ğŸ¯ ì ‘ê·¼ ë°©ì‹ ì°¨ì´ ===
NumPy - ìœ„ì¹˜ ê¸°ë°˜ ì ‘ê·¼:
   ì²« ë²ˆì§¸ ìš”ì†Œ: 10
   ë§ˆì§€ë§‰ ìš”ì†Œ: 50
   ìŠ¬ë¼ì´ì‹±: [20 30 40]

Pandas - ë¼ë²¨ ê¸°ë°˜ ì ‘ê·¼:
   'A' ì¸ë±ìŠ¤: 10
   'E' ì¸ë±ìŠ¤: 50
   'B'~'D' êµ¬ê°„: [20 30 40]

=== ğŸ§® ì—°ì‚° ë°©ì‹ ì°¨ì´ ===
NumPy - ìˆœìˆ˜ ìˆ˜ì¹˜ ì—°ì‚°:
   ì œê³±: [ 100  400  900 1600 2500]
   í‰ê· : 30.00
   í‘œì¤€í¸ì°¨: 14.14

Pandas - ì¸ë±ìŠ¤ ìœ ì§€ ì—°ì‚°:
   ì œê³±:
A     100
B     400
C     900
D    1600
E    2500
Name: values, dtype: int64
   í‰ê· : 30.00
   í‘œì¤€í¸ì°¨: 15.81

In [40]:
print("\n=== ğŸ” ë°ì´í„° ì²˜ë¦¬ ë°©ì‹ ì°¨ì´ ===")

# ê²°ì¸¡ì¹˜ê°€ í¬í•¨ëœ ë°ì´í„°
data_with_nan = [10, np.nan, 30, 40, np.nan]

print("ğŸ”¢ NumPy - ê²°ì¸¡ì¹˜ ì²˜ë¦¬:")
numpy_nan = np.array(data_with_nan)
print(f"   ì›ë³¸: {numpy_nan}")
print(f"   í‰ê·  (NaN í¬í•¨): {np.mean(numpy_nan)}")  # NaN
print(f"   í‰ê·  (NaN ì œì™¸): {np.nanmean(numpy_nan):.2f}")
# NumPyëŠ” ê²°ì¸¡ì¹˜ ì²˜ë¦¬ë¥¼ ìœ„í•´ ë³„ë„ í•¨ìˆ˜ í•„ìš”

print("\nğŸ“Š Pandas - ê²°ì¸¡ì¹˜ ì²˜ë¦¬:")
pandas_nan = pd.Series(data_with_nan, index=['A', 'B', 'C', 'D', 'E'])
print(pandas_nan)
print(f"   í‰ê·  (ìë™ NaN ì œì™¸): {pandas_nan.mean():.2f}")
print("   ê²°ì¸¡ì¹˜ ì œê±°:")
print(pandas_nan.dropna())
print("   ê²°ì¸¡ì¹˜ ì±„ìš°ê¸° (0ìœ¼ë¡œ):")
print(pandas_nan.fillna(0))

print("\n=== ğŸ“ˆ ì‹¤ë¬´ ì‚¬ìš© ì˜ˆì‹œ ===")
print("NumPy ì í•©í•œ ê²½ìš°:")
print("   âœ… ìˆ˜í•™ì  ê³„ì‚°: í–‰ë ¬ ê³±ì…ˆ, ì„ í˜•ëŒ€ìˆ˜")
print("   âœ… ê³¼í•™ ê³„ì‚°: ë¬¼ë¦¬í•™, í†µê³„í•™ ê³µì‹")
print("   âœ… ì´ë¯¸ì§€ ì²˜ë¦¬: í”½ì…€ ë°°ì—´ ì—°ì‚°")
print("   âœ… ë¨¸ì‹ ëŸ¬ë‹: ê°€ì¤‘ì¹˜ í–‰ë ¬ ì—°ì‚°")

print("\nPandas ì í•©í•œ ê²½ìš°:")
print("   âœ… ë°ì´í„° ë¶„ì„: CSV íŒŒì¼ ì½ê¸°/ì“°ê¸°")
print("   âœ… ë¹„ì¦ˆë‹ˆìŠ¤ ë¶„ì„: ë§¤ì¶œ, ê³ ê° ë°ì´í„° ë¶„ì„")
print("   âœ… ë°ì´í„° ì „ì²˜ë¦¬: ê²°ì¸¡ì¹˜, ì¤‘ë³µê°’ ì²˜ë¦¬")
print("   âœ… ë¦¬í¬íŒ…: ê·¸ë£¹ë³„ ì§‘ê³„, í”¼ë²— í…Œì´ë¸”")

print("\n=== âš¡ ì„±ëŠ¥ ë¹„êµ ===")
import time

# ëŒ€ìš©ëŸ‰ ë°ì´í„°ë¡œ ì„±ëŠ¥ í…ŒìŠ¤íŠ¸
large_data = np.random.randint(1, 100, 100000)

# NumPy ì—°ì‚° ì„±ëŠ¥
start = time.time()
numpy_result = large_data ** 2
numpy_mean = np.mean(numpy_result)
numpy_time = time.time() - start

# Pandas ì—°ì‚° ì„±ëŠ¥
pandas_large = pd.Series(large_data)
start = time.time()
pandas_result = pandas_large ** 2
pandas_mean = pandas_result.mean()
pandas_time = time.time() - start

print(f"\nëŒ€ìš©ëŸ‰ ë°ì´í„° (100,000ê°œ) ì—°ì‚°:")
print(f"   NumPy ì‹œê°„: {numpy_time:.6f}ì´ˆ")
print(f"   Pandas ì‹œê°„: {pandas_time:.6f}ì´ˆ")
print(f"   ì†ë„ ë¹„ìœ¨: NumPyê°€ {pandas_time/numpy_time:.2f}ë°° ë¹ ë¦„")
print(f"   ê²°ê³¼ ë™ì¼: {abs(numpy_mean - pandas_mean) < 0.001}")

=== ğŸ” ë°ì´í„° ì²˜ë¦¬ ë°©ì‹ ì°¨ì´ ===
ğŸ”¢ NumPy - ê²°ì¸¡ì¹˜ ì²˜ë¦¬:
   ì›ë³¸: [10. nan 30. 40. nan]
   í‰ê·  (NaN í¬í•¨): nan
   í‰ê·  (NaN ì œì™¸): 26.67

ğŸ“Š Pandas - ê²°ì¸¡ì¹˜ ì²˜ë¦¬:
A    10.0
B     NaN
C    30.0
D    40.0
E     NaN
dtype: float64
   í‰ê·  (ìë™ NaN ì œì™¸): 26.67
   ê²°ì¸¡ì¹˜ ì œê±°:
A    10.0
C    30.0
D    40.0
dtype: float64
   ê²°ì¸¡ì¹˜ ì±„ìš°ê¸° (0ìœ¼ë¡œ):
A    10.0
B     0.0
C    30.0
D    40.0
E     0.0
dtype: float64

=== ğŸ“ˆ ì‹¤ë¬´ ì‚¬ìš© ì˜ˆì‹œ ===
NumPy ì í•©í•œ ê²½ìš°:
   âœ… ìˆ˜í•™ì  ê³„ì‚°: í–‰ë ¬ ê³±ì…ˆ, ì„ í˜•ëŒ€ìˆ˜
   âœ… ê³¼í•™ ê³„ì‚°: ë¬¼ë¦¬í•™, í†µê³„í•™ ê³µì‹
   âœ… ì´ë¯¸ì§€ ì²˜ë¦¬: í”½ì…€ ë°°ì—´ ì—°ì‚°
   âœ… ë¨¸ì‹ ëŸ¬ë‹: ê°€ì¤‘ì¹˜ í–‰ë ¬ ì—°ì‚°

Pandas ì í•©í•œ ê²½ìš°:
   âœ… ë°ì´í„° ë¶„ì„: CSV íŒŒì¼ ì½ê¸°/ì“°ê¸°
   âœ… ë¹„ì¦ˆë‹ˆìŠ¤ ë¶„ì„: ë§¤ì¶œ, ê³ ê° ë°ì´í„° ë¶„ì„
   âœ… ë°ì´í„° ì „ì²˜ë¦¬: ê²°ì¸¡ì¹˜, ì¤‘ë³µê°’ ì²˜ë¦¬
   âœ… ë¦¬í¬íŒ…: ê·¸ë£¹ë³„ ì§‘ê³„, í”¼ë²— í…Œì´ë¸”

=== âš¡ ì„±ëŠ¥ ë¹„êµ ===

ëŒ€ìš©ëŸ‰ ë°ì´í„° (100,000ê°œ) ì—°ì‚°:
   NumPy ì‹œê°„: 0.000655ì´ˆ
   Pandas ì‹œê°„: 0.000302ì´ˆ
   ì†ë„ ë¹„ìœ¨: NumPyê°€ 0.46ë°° ë¹ ë¦„
   ê²°ê³¼ ë™ì¼: True

In [42]:
print("\n=== ğŸ¢ ì‹¤ë¬´ í™œìš© ì‚¬ë¡€ ë¹„êµ ===")

print("ğŸ“Š ì‹œë‚˜ë¦¬ì˜¤ 1: í•™ìƒ ì„±ì  ë¶„ì„")
print("NumPy ë°©ì‹:")
# NumPyë¡œ í•™ìƒ ì„±ì  ì²˜ë¦¬
scores_np = np.array([85, 92, 78, 96, 88])
print(f"   ì„±ì : {scores_np}")
print(f"   í‰ê· : {np.mean(scores_np):.1f}")
print(f"   ìµœê³ ì : {np.max(scores_np)}")
print(f"   âŒ í•™ìƒ ì´ë¦„ì„ ë”°ë¡œ ê´€ë¦¬í•´ì•¼ í•¨")

print("\nPandas ë°©ì‹:")
# Pandasë¡œ í•™ìƒ ì„±ì  ì²˜ë¦¬
students = ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve']
scores_pd = pd.Series(scores_np, index=students, name='scores')
print(scores_pd)
print(f"   í‰ê· : {scores_pd.mean():.1f}")
print(f"   ìµœê³ ì  í•™ìƒ: {scores_pd.idxmax()} ({scores_pd.max()}ì )")
print(f"   âœ… í•™ìƒ ì´ë¦„ê³¼ ì„±ì ì´ í•¨ê»˜ ê´€ë¦¬ë¨")

print(f"\nğŸ“ˆ ì‹œë‚˜ë¦¬ì˜¤ 2: ì›”ë³„ ë§¤ì¶œ ë¶„ì„")
monthly_sales = [120, 135, 142, 158, 165, 178]
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

print("NumPy ë°©ì‹:")
sales_np = np.array(monthly_sales)
growth_np = np.diff(sales_np) / sales_np[:-1] * 100
print(f"   ë§¤ì¶œ: {sales_np}")
print(f"   ì„±ì¥ë¥ : {growth_np.round(1)}%")
print(f"   âŒ ì›” ì •ë³´ê°€ ë¶„ë¦¬ë˜ì–´ ê´€ë¦¬ ë³µì¡")

print("\nPandas ë°©ì‹:")
sales_pd = pd.Series(monthly_sales, index=months, name='sales')
growth_pd = sales_pd.pct_change() * 100
print("   ë§¤ì¶œ:")
print(sales_pd)
print("   ì›”ë³„ ì„±ì¥ë¥ :")
print(growth_pd.dropna().round(1))
print(f"   âœ… ì›” ì •ë³´ì™€ í•¨ê»˜ ì§ê´€ì  ë¶„ì„")

print(f"\nğŸ”¬ ì‹œë‚˜ë¦¬ì˜¤ 3: ê³¼í•™ ê³„ì‚°")
print("NumPyê°€ ë” ì í•©í•œ ê²½ìš°:")
# ë²¡í„° ë‚´ì  ê³„ì‚°
vector_a = np.array([1, 2, 3])
vector_b = np.array([4, 5, 6])
dot_product = np.dot(vector_a, vector_b)
print(f"   ë²¡í„° A: {vector_a}")
print(f"   ë²¡í„° B: {vector_b}")
print(f"   ë‚´ì : {dot_product}")
print(f"   âœ… ìˆœìˆ˜ ìˆ˜í•™ ì—°ì‚°ì— ìµœì í™”")

# Pandasë¡œ ê°™ì€ ê³„ì‚° (ë¹„íš¨ìœ¨ì )
series_a = pd.Series(vector_a)
series_b = pd.Series(vector_b)
dot_pandas = (series_a * series_b).sum()
print(f"\n   Pandas ë‚´ì : {dot_pandas}")
print(f"   âŒ ë¶ˆí•„ìš”í•œ ì˜¤ë²„í—¤ë“œ ë°œìƒ")

print(f"\nğŸ’¡ ì„ íƒ ê¸°ì¤€ ìš”ì•½:")
print("   ğŸ”¢ NumPy ì„ íƒ ì‹œ:")
print("     - ìˆ˜í•™ì  ê³„ì‚°ì´ ì£¼ëª©ì ")
print("     - ì„±ëŠ¥ì´ ìµœìš°ì„ ")
print("     - ë‹¨ìˆœí•œ ë°°ì—´ êµ¬ì¡°")
print("     - ë©”ëª¨ë¦¬ íš¨ìœ¨ì„± ì¤‘ìš”")
print()
print("   ğŸ“Š Pandas ì„ íƒ ì‹œ:")
print("     - ë°ì´í„° ë¶„ì„ì´ ì£¼ëª©ì ")
print("     - ë¼ë²¨ë§ëœ ë°ì´í„°")
print("     - ê²°ì¸¡ì¹˜, ì¤‘ë³µê°’ ì²˜ë¦¬")
print("     - íŒŒì¼ ì…ì¶œë ¥ í•„ìš”")
print("     - ë¹„ì¦ˆë‹ˆìŠ¤ ë¦¬í¬íŒ…")

print(f"\nğŸ¯ ì‹¤ë¬´ ì¶”ì²œ:")
print("   1ï¸âƒ£ ë°ì´í„° ë¶„ì„ ì‹œì‘ â†’ Pandas")
print("   2ï¸âƒ£ ìˆ˜í•™ ì—°ì‚° í•„ìš” â†’ NumPy")
print("   3ï¸âƒ£ ëŒ€ë¶€ë¶„ì˜ ê²½ìš° â†’ Pandas (NumPy ìë™ ì‚¬ìš©)")
print("   4ï¸âƒ£ ì„±ëŠ¥ ìµœì í™” â†’ NumPyë¡œ ì „í™˜")
print("\nâœ… ì™„ë£Œ: Pandas vs NumPy ìš©ë„ ì°¨ì´ ì™„ì „ ì´í•´!")

=== ğŸ¢ ì‹¤ë¬´ í™œìš© ì‚¬ë¡€ ë¹„êµ ===
ğŸ“Š ì‹œë‚˜ë¦¬ì˜¤ 1: í•™ìƒ ì„±ì  ë¶„ì„
NumPy ë°©ì‹:
   ì„±ì : [85 92 78 96 88]
   í‰ê· : 87.8
   ìµœê³ ì : 96
   âŒ í•™ìƒ ì´ë¦„ì„ ë”°ë¡œ ê´€ë¦¬í•´ì•¼ í•¨

Pandas ë°©ì‹:
Alice      85
Bob        92
Charlie    78
Diana      96
Eve        88
Name: scores, dtype: int64
   í‰ê· : 87.8
   ìµœê³ ì  í•™ìƒ: Diana (96ì )
   âœ… í•™ìƒ ì´ë¦„ê³¼ ì„±ì ì´ í•¨ê»˜ ê´€ë¦¬ë¨

ğŸ“ˆ ì‹œë‚˜ë¦¬ì˜¤ 2: ì›”ë³„ ë§¤ì¶œ ë¶„ì„
NumPy ë°©ì‹:
   ë§¤ì¶œ: [120 135 142 158 165 178]
   ì„±ì¥ë¥ : [12.5  5.2 11.3  4.4  7.9]%
   âŒ ì›” ì •ë³´ê°€ ë¶„ë¦¬ë˜ì–´ ê´€ë¦¬ ë³µì¡

Pandas ë°©ì‹:
   ë§¤ì¶œ:
Jan    120
Feb    135
Mar    142
Apr    158
May    165
Jun    178
Name: sales, dtype: int64
   ì›”ë³„ ì„±ì¥ë¥ :
Feb    12.5
Mar     5.2
Apr    11.3
May     4.4
Jun     7.9
Name: sales, dtype: float64
   âœ… ì›” ì •ë³´ì™€ í•¨ê»˜ ì§ê´€ì  ë¶„ì„

ğŸ”¬ ì‹œë‚˜ë¦¬ì˜¤ 3: ê³¼í•™ ê³„ì‚°
NumPyê°€ ë” ì í•©í•œ ê²½ìš°:
   ë²¡í„° A: [1 2 3]
   ë²¡í„° B: [4 5 6]
   ë‚´ì : 32
   âœ… ìˆœìˆ˜ ìˆ˜í•™ ì—°ì‚°ì— ìµœì í™”

   Pandas ë‚´ì : 32
   âŒ ë¶ˆí•„ìš”í•œ ì˜¤ë²„í—¤ë“œ ë°œìƒ

ğŸ’¡ ì„ íƒ ê¸°ì¤€ ìš”ì•½:
   ğŸ”¢ NumPy ì„ íƒ ì‹œ:
     - ìˆ˜í•™ì  ê³„ì‚°ì´ ì£¼ëª©ì
     - ì„±ëŠ¥ì´ ìµœìš°ì„
     - ë‹¨ìˆœí•œ ë°°ì—´ êµ¬ì¡°
     - ë©”ëª¨ë¦¬ íš¨ìœ¨ì„± ì¤‘ìš”

   ğŸ“Š Pandas ì„ íƒ ì‹œ:
     - ë°ì´í„° ë¶„ì„ì´ ì£¼ëª©ì
     - ë¼ë²¨ë§ëœ ë°ì´í„°
     - ê²°ì¸¡ì¹˜, ì¤‘ë³µê°’ ì²˜ë¦¬
     - íŒŒì¼ ì…ì¶œë ¥ í•„ìš”
     - ë¹„ì¦ˆë‹ˆìŠ¤ ë¦¬í¬íŒ…

ğŸ¯ ì‹¤ë¬´ ì¶”ì²œ:
   1ï¸âƒ£ ë°ì´í„° ë¶„ì„ ì‹œì‘ â†’ Pandas
   2ï¸âƒ£ ìˆ˜í•™ ì—°ì‚° í•„ìš” â†’ NumPy
   3ï¸âƒ£ ëŒ€ë¶€ë¶„ì˜ ê²½ìš° â†’ Pandas (NumPy ìë™ ì‚¬ìš©)
   4ï¸âƒ£ ì„±ëŠ¥ ìµœì í™” â†’ NumPyë¡œ ì „í™˜

âœ… ì™„ë£Œ: Pandas vs NumPy ìš©ë„ ì°¨ì´ ì™„ì „ ì´í•´!

# Make DataFrame class using dictionary

In [43]:
import pandas as pd

# Using dictionary to create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data) 
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [44]:
# using a list of lists to create a DataFrame
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]
columns = ['Name', 'Age', 'City']
df = pd.DataFrame(data, columns=columns)
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [47]:
# changing Sereies to DataFrame
data = [10, 20, 30, 40, 50, 60]
series = pd.Series(data, name='my_series')
df = pd.DataFrame(series)
print('using dataframe initialize:', df)

df2 = series.to_frame()
print('using to_frame:', df2)

using dataframe initialize:    my_series
0         10
1         20
2         30
3         40
4         50
5         60
using to_frame:    my_series
0         10
1         20
2         30
3         40
4         50
5         60

In [55]:
# cancat() using pandas
data1 = [1, 2, 3]
data2 = [4, 5, 6]
series1 = pd.Series(data1, name='Series1')
series2 = pd.Series(data2, name='Series2')
result_series = pd.concat([series1, series2], axis=1) # axis=1: ì—´ ë°©í–¥ìœ¼ë¡œ ì—°ê²°
print('Concatenated Series:\n', result_series)

result_series2 = pd.concat([series1, series2], axis=0) # axis=0: í–‰ ë°©í–¥ìœ¼ë¡œ ì—°ê²°
print('Concatenated Series:\n', result_series2)

Concatenated Series:
    Series1  Series2
0        1        4
1        2        5
2        3        6
Concatenated Series:
 0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

In [56]:
series3 = pd.Series([1,2,3], name='Series3')
df = pd.concat([result_series, series3], axis=1)
print('Concatenated DataFrame:\n', df)

Concatenated DataFrame:
    Series1  Series2  Series3
0        1        4        1
1        2        5        2
2        3        6        3

In [57]:
# df.columns 
# columns name check
# select specific columns
# modify columns
# select columns using condition
# select columns using index
# select columns using list of names

import pandas as pd

# ì£¼ì–´ì§„ ë¦¬ìŠ¤íŠ¸ë“¤
names = ['ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜', 'ì§€ì˜', 'ìˆ˜ë¯¼', 'í˜¸ì² ', 'ë¯¼ì§€']
ages = [25, 30, 35, 28, 22, 21, 20]
genders = ['ë‚¨', 'ì—¬', 'ë‚¨', 'ì—¬', 'ë‚¨', 'ë‚¨', 'ì—¬']
cities = ['ì„œìš¸', 'ë¶€ì‚°', 'ì„œìš¸', 'ëŒ€ì „', 'ì œì£¼', 'ë¶€ì‚°', 'ê°•ì›']

# ë¦¬ìŠ¤íŠ¸ë“¤ì„ ë”•ì…”ë„ˆë¦¬ë¡œ ë¬¶ê¸°
data = {'ì´ë¦„': names, 'ë‚˜ì´': ages, 'ì„±ë³„': genders, 'ë„ì‹œ': cities}

# ë”•ì…”ë„ˆë¦¬ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜
df = pd.DataFrame(data)
df

   ì´ë¦„  ë‚˜ì´ ì„±ë³„  ë„ì‹œ
0  ì² ìˆ˜  25  ë‚¨  ì„œìš¸
1  ì˜í¬  30  ì—¬  ë¶€ì‚°
2  ë¯¼ìˆ˜  35  ë‚¨  ì„œìš¸
3  ì§€ì˜  28  ì—¬  ëŒ€ì „
4  ìˆ˜ë¯¼  22  ë‚¨  ì œì£¼
5  í˜¸ì²   21  ë‚¨  ë¶€ì‚°
6  ë¯¼ì§€  20  ì—¬  ê°•ì›

In [58]:
df.columns

Index(['ì´ë¦„', 'ë‚˜ì´', 'ì„±ë³„', 'ë„ì‹œ'], dtype='object')

In [59]:
# df.index 
# ë°ì´í„°í”„ë ˆì„ì˜ ê° ë°ì´í„° í•­ëª©ì— ëŒ€í•œ ë ˆì´ë¸”ì„ ë‚˜íƒ€ëƒ„ 
# indexëŠ” í–‰ì˜ ìˆœì„œë¥¼ ë‚˜íƒ€ë‚´ë©°, ê¸°ë³¸ì ìœ¼ë¡œ 0ë¶€í„° ì‹œì‘í•˜ëŠ” ì •ìˆ˜ ì¸ë±ìŠ¤ê°€ ì‚¬ìš©ë¨
# indexë¥¼ ì‚¬ìš©í•˜ì—¬ íŠ¹ì • í–‰ì— ì ‘ê·¼í•˜ê±°ë‚˜, í–‰ì„ ì„ íƒí•  ìˆ˜ ìˆìŒ
# indexëŠ” ë°ì´í„°í”„ë ˆì„ì˜ í–‰ì„ ì‹ë³„í•˜ëŠ” ë° ì‚¬ìš©ë˜ë©°, ì¸ë±ìŠ¤ê°€ ìˆëŠ” ê²½ìš° ë°ì´í„°í”„ë ˆì„ì˜ í–‰ì„ ë” ì‰½ê²Œ ì°¸ì¡°í•  ìˆ˜ ìˆìŒ
df.index

RangeIndex(start=0, stop=7, step=1)

In [62]:
df.values # ë°ì´í„°í”„ë ˆì„ì˜ ê°’ë“¤ì„ NumPy ë°°ì—´ë¡œ ë°˜í™˜
# ê°’ë§Œ ì¶”ì¶œí•˜ê¸° ë•Œë¬¸ì— ì¸ë±ìŠ¤ ì •ë³´ëŠ” ì—†ë‹¤.

array([['ì² ìˆ˜', 25, 'ë‚¨', 'ì„œìš¸'],
       ['ì˜í¬', 30, 'ì—¬', 'ë¶€ì‚°'],
       ['ë¯¼ìˆ˜', 35, 'ë‚¨', 'ì„œìš¸'],
       ['ì§€ì˜', 28, 'ì—¬', 'ëŒ€ì „'],
       ['ìˆ˜ë¯¼', 22, 'ë‚¨', 'ì œì£¼'],
       ['í˜¸ì² ', 21, 'ë‚¨', 'ë¶€ì‚°'],
       ['ë¯¼ì§€', 20, 'ì—¬', 'ê°•ì›']], dtype=object)

In [63]:
df.dtypes # ê° ì—´ì˜ ë°ì´í„° íƒ€ì…ì„ í™•ì¸

ì´ë¦„    object
ë‚˜ì´     int64
ì„±ë³„    object
ë„ì‹œ    object
dtype: object

In [64]:
df.head()

   ì´ë¦„  ë‚˜ì´ ì„±ë³„  ë„ì‹œ
0  ì² ìˆ˜  25  ë‚¨  ì„œìš¸
1  ì˜í¬  30  ì—¬  ë¶€ì‚°
2  ë¯¼ìˆ˜  35  ë‚¨  ì„œìš¸
3  ì§€ì˜  28  ì—¬  ëŒ€ì „
4  ìˆ˜ë¯¼  22  ë‚¨  ì œì£¼

In [66]:
df.tail() # non-null ê°’ì˜ ê°œìˆ˜, ê°ì—´ì—ì„œ ê²°ì¸¡ì¹˜ê°€ ì•„ë‹Œ ë°ì´í„° ê°œìˆ˜ë¥¼ í‘œì‹œ

   ì´ë¦„  ë‚˜ì´ ì„±ë³„  ë„ì‹œ
2  ë¯¼ìˆ˜  35  ë‚¨  ì„œìš¸
3  ì§€ì˜  28  ì—¬  ëŒ€ì „
4  ìˆ˜ë¯¼  22  ë‚¨  ì œì£¼
5  í˜¸ì²   21  ë‚¨  ë¶€ì‚°
6  ë¯¼ì§€  20  ì—¬  ê°•ì›

In [67]:
df.info() # ë°ì´í„°í”„ë ˆì„ì˜ ìš”ì•½ ì •ë³´ë¥¼ ì¶œë ¥, ë°ì´í„° íƒ€ì…, ê²°ì¸¡ì¹˜ ê°œìˆ˜, ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ ë“±ì„ í¬í•¨
# ë°ì´í„°í”„ë ˆì„ì˜ êµ¬ì¡°ì™€ ë‚´ìš©ì„ ë¹ ë¥´ê²Œ íŒŒì•…í•  ìˆ˜ ìˆëŠ” ìœ ìš©í•œ í•¨ìˆ˜
# ë°ì´í„°í”„ë ˆì„ì˜ ê° ì—´ì— ëŒ€í•œ ì •ë³´(ë°ì´í„° íƒ€ì…, ê²°ì¸¡ì¹˜ ê°œìˆ˜ ë“±)ë¥¼ ì œê³µ

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì´ë¦„      7 non-null      object
 1   ë‚˜ì´      7 non-null      int64
 2   ì„±ë³„      7 non-null      object
 3   ë„ì‹œ      7 non-null      object
dtypes: int64(1), object(3)
memory usage: 356.0+ bytes

In [68]:
df.shape # ë°ì´í„°í”„ë ˆì„ì˜ í–‰ê³¼ ì—´ì˜ ê°œìˆ˜ë¥¼ ë°˜í™˜

(7, 4)

In [69]:
len(df) # ë°ì´í„°í”„ë ˆì„ì˜ í–‰ì˜ ê°œìˆ˜ë¥¼ ë°˜í™˜

7

In [70]:
df.size # ë°ì´í„°í”„ë ˆì„ì˜ ì „ì²´ ìš”ì†Œ ê°œìˆ˜ë¥¼ ë°˜í™˜ (í–‰ * ì—´)

28

In [71]:
df.describe() # ë°ì´í„°í”„ë ˆì„ì˜ í†µê³„ ìš”ì•½ ì •ë³´ë¥¼ ì¶œë ¥, ê° ì—´ì˜ í‰ê· , í‘œì¤€í¸ì°¨, ìµœì†Œê°’, ìµœëŒ€ê°’ ë“±ì„ í¬í•¨
# ìˆ˜ì¹˜í˜• ë°ì´í„°ì— ëŒ€í•œ í†µê³„ ì •ë³´ë¥¼ ì œê³µ, ë°ì´í„°ì˜ ë¶„í¬ì™€ íŠ¹ì„±ì„ íŒŒì•…í•˜ëŠ” ë° ìœ ìš©
# count: ë°ì´í„° ê°œìˆ˜, mean: í‰ê· , std: í‘œì¤€í¸ì°¨, min: ìµœì†Œê°’, 25%: 1ì‚¬ë¶„ìœ„ìˆ˜
# 50%: ì¤‘ì•™ê°’, 75%: 3ì‚¬ë¶„ìœ„ìˆ˜, max: ìµœëŒ€ê°’
# describe() í•¨ìˆ˜ëŠ” ê¸°ë³¸ì ìœ¼ë¡œ ìˆ˜ì¹˜í˜• ë°ì´í„°ì— ëŒ€í•œ í†µê³„ ì •ë³´ë¥¼ ì œê³µí•˜ë©°,
# ë²”ì£¼í˜• ë°ì´í„°ì— ëŒ€í•´ì„œëŠ” ê³ ìœ ê°’ì˜ ê°œìˆ˜ì™€ ë¹ˆë„ìˆ˜ë¥¼ ì œê³µ

              ë‚˜ì´
count   7.000000
mean   25.857143
std     5.459810
min    20.000000
25%    21.500000
50%    25.000000
75%    29.000000
max    35.000000

In [72]:
import pandas as pd

# ë”•ì…”ë„ˆë¦¬ë¡œ ìƒì„±í•˜ê¸°
data_dict = {
    'ì´ë¦„': ['í™ê¸¸ë™', 'ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ì§€ì›', 'ì¥ë¯¼ì£¼', 'ì‹ ë™í˜¸', 'ê¹€ë¯¼ì§€', 'ì´í•˜ëŠ˜', 'ì •ìŠ¹ìš°', 'í•œì§€í˜œ'],
    'ë‚˜ì´': [25, 30, 28, 22, 29, 27, 24, 26, None, 23],
    'ì„±ë³„': ['ë‚¨', 'ë‚¨', 'ì—¬', 'ë‚¨', 'ì—¬', 'ë‚¨', 'ì—¬', 'ì—¬', None, 'ì—¬']
}

df = pd.DataFrame(data_dict)
df.index = [1,2,3,4,5,6,7,8,9,10]
df

     ì´ë¦„    ë‚˜ì´    ì„±ë³„
1   í™ê¸¸ë™  25.0     ë‚¨
2   ê¹€ì² ìˆ˜  30.0     ë‚¨
3   ì´ì˜í¬  28.0     ì—¬
4   ë°•ì§€ì›  22.0     ë‚¨
5   ì¥ë¯¼ì£¼  29.0     ì—¬
6   ì‹ ë™í˜¸  27.0     ë‚¨
7   ê¹€ë¯¼ì§€  24.0     ì—¬
8   ì´í•˜ëŠ˜  26.0     ì—¬
9   ì •ìŠ¹ìš°   NaN  None
10  í•œì§€í˜œ  23.0     ì—¬

In [73]:
first_row = df.loc[1]
first_row

ì´ë¦„     í™ê¸¸ë™
ë‚˜ì´    25.0
ì„±ë³„       ë‚¨
Name: 1, dtype: object

In [79]:
df.loc[1, 'ì´ë¦„']

'í™ê¸¸ë™'

In [76]:
df.shape

(10, 3)

In [80]:
df.iloc[1,1]  # 1ë²ˆì§¸ í–‰, 1ë²ˆì§¸ ì—´ì˜ ê°’

np.float64(30.0)

# Data filtering

In [81]:
import pandas as pd

data_dict = {
    'ì´ë¦„': ['í™ê¸¸ë™', 'ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ì§€ì›', 'ì¥ë¯¼ì£¼', 'ì‹ ë™í˜¸', 'ê¹€ë¯¼ì§€', 'ì´í•˜ëŠ˜', 'ì •ìŠ¹ìš°', 'í•œì§€í˜œ'],
    'ë‚˜ì´': [25, 30, 28, 22, 29, 27, 24, 26, None, 23],
    'ì„±ë³„': ['ë‚¨', 'ë‚¨', 'ì—¬', 'ë‚¨', 'ì—¬', 'ë‚¨', 'ì—¬', 'ì—¬', None, 'ì—¬']
}
df = pd.DataFrame(data_dict)
df.index = [1,2,3,4,5,6,7,8,9,10]
df

     ì´ë¦„    ë‚˜ì´    ì„±ë³„
1   í™ê¸¸ë™  25.0     ë‚¨
2   ê¹€ì² ìˆ˜  30.0     ë‚¨
3   ì´ì˜í¬  28.0     ì—¬
4   ë°•ì§€ì›  22.0     ë‚¨
5   ì¥ë¯¼ì£¼  29.0     ì—¬
6   ì‹ ë™í˜¸  27.0     ë‚¨
7   ê¹€ë¯¼ì§€  24.0     ì—¬
8   ì´í•˜ëŠ˜  26.0     ì—¬
9   ì •ìŠ¹ìš°   NaN  None
10  í•œì§€í˜œ  23.0     ì—¬

In [82]:
is_above_28_series = df['ë‚˜ì´'] >= 28
is_above_28_series

1     False
2      True
3      True
4     False
5      True
6     False
7     False
8     False
9     False
10    False
Name: ë‚˜ì´, dtype: bool

In [83]:
above_28_df = df[is_above_28_series]
above_28_df

    ì´ë¦„    ë‚˜ì´ ì„±ë³„
2  ê¹€ì² ìˆ˜  30.0  ë‚¨
3  ì´ì˜í¬  28.0  ì—¬
5  ì¥ë¯¼ì£¼  29.0  ì—¬

In [84]:
# Seriesì˜ isin([list])
is_in_series = df['ì´ë¦„'].isin(['í™ê¸¸ë™', 'ì´ì˜í¬'])
is_in_series

1      True
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
Name: ì´ë¦„, dtype: bool

In [85]:
df[is_in_series]

    ì´ë¦„    ë‚˜ì´ ì„±ë³„
1  í™ê¸¸ë™  25.0  ë‚¨
3  ì´ì˜í¬  28.0  ì—¬

In [86]:
# Seriesì˜ series.str.contains() function
# ë¬¸ìì—´ì´ íŠ¹ì • íŒ¨í„´ì„ í¬í•¨í•˜ëŠ”ì§€ë¥¼ ë¶ˆë¦¬ì–¸ ì‹œë¦¬ì¦ˆë¡œ ë°˜í™˜ 
# series.str.contains('pattern', case=False, na=False, regex=True)
# pattern: ì°¾ê³ ì í•˜ëŠ” ë¬¸ìì—´ íŒ¨í„´
# case: ëŒ€ì†Œë¬¸ì êµ¬ë¶„ ì—¬ë¶€ (ê¸°ë³¸ê°’: True)
# na: NaN ê°’ ì²˜ë¦¬ ë°©ë²• (ê¸°ë³¸ê°’: False, NaNì€ Falseë¡œ ì²˜ë¦¬)
# regex: ì •ê·œ í‘œí˜„ì‹ ì‚¬ìš© ì—¬ë¶€ (ê¸°ë³¸ê°’: True)
filtered_df = df[df['ì´ë¦„'].str.contains('ê¸¸ë™', case=False, na=False)]
filtered_df

    ì´ë¦„    ë‚˜ì´ ì„±ë³„
1  í™ê¸¸ë™  25.0  ë‚¨

In [87]:
age_above_25_and_male = df[ (df['ë‚˜ì´'] > 25) & (df['ì„±ë³„'] == 'ë‚¨' ) ]
age_above_25_and_male

    ì´ë¦„    ë‚˜ì´ ì„±ë³„
2  ê¹€ì² ìˆ˜  30.0  ë‚¨
6  ì‹ ë™í˜¸  27.0  ë‚¨

In [89]:
age_columns = df['ë‚˜ì´']
age_columns

1     25.0
2     30.0
3     28.0
4     22.0
5     29.0
6     27.0
7     24.0
8     26.0
9      NaN
10    23.0
Name: ë‚˜ì´, dtype: float64

In [90]:
heights = [170, 175, 160, 130, 140, 150, 160, 170, 180, 190]
df['í‚¤'] = heights
df

     ì´ë¦„    ë‚˜ì´    ì„±ë³„    í‚¤
1   í™ê¸¸ë™  25.0     ë‚¨  170
2   ê¹€ì² ìˆ˜  30.0     ë‚¨  175
3   ì´ì˜í¬  28.0     ì—¬  160
4   ë°•ì§€ì›  22.0     ë‚¨  130
5   ì¥ë¯¼ì£¼  29.0     ì—¬  140
6   ì‹ ë™í˜¸  27.0     ë‚¨  150
7   ê¹€ë¯¼ì§€  24.0     ì—¬  160
8   ì´í•˜ëŠ˜  26.0     ì—¬  170
9   ì •ìŠ¹ìš°   NaN  None  180
10  í•œì§€í˜œ  23.0     ì—¬  190

In [91]:
df = df.drop(columns=['í‚¤'])  # 'í‚¤' ì—´ ì‚­ì œ
df

     ì´ë¦„    ë‚˜ì´    ì„±ë³„
1   í™ê¸¸ë™  25.0     ë‚¨
2   ê¹€ì² ìˆ˜  30.0     ë‚¨
3   ì´ì˜í¬  28.0     ì—¬
4   ë°•ì§€ì›  22.0     ë‚¨
5   ì¥ë¯¼ì£¼  29.0     ì—¬
6   ì‹ ë™í˜¸  27.0     ë‚¨
7   ê¹€ë¯¼ì§€  24.0     ì—¬
8   ì´í•˜ëŠ˜  26.0     ì—¬
9   ì •ìŠ¹ìš°   NaN  None
10  í•œì§€í˜œ  23.0     ì—¬

In [92]:
# del df['í‚¤']  # 'í‚¤' ì—´ ì‚­ì œ
# delì€ ì—´ì„ ì‚­ì œí•  ë•Œ ì‚¬ìš©, drop()ì€ í–‰ ë˜ëŠ” ì—´ì„ ì‚­ì œí•  ë•Œ ì‚¬ìš©

# pop()ì€ ì—´ì„ ì‚­ì œí•˜ê³  ê·¸ ì—´ì„ ë°˜í™˜

# drop()ì€ í–‰ ë˜ëŠ” ì—´ì„ ì‚­ì œí•  ë•Œ ì‚¬ìš©, axis íŒŒë¼ë¯¸í„°ë¡œ í–‰ ë˜ëŠ” ì—´ì„ ì§€ì •,
# inplace íŒŒë¼ë¯¸í„°ë¡œ ì›ë³¸ ë°ì´í„°í”„ë ˆì„ì„ ìˆ˜ì •í• ì§€ ì—¬ë¶€ë¥¼ ì§€ì •

# locì„ ì‚¬ìš©í•œ ì—´ ì‚­ì œ
# df.loc[:, ~df.columns.isin(['í‚¤'])]  # 'í‚¤' ì—´ì„ ì œì™¸í•œ ëª¨ë“  ì—´ ì„ íƒ

In [94]:
# columns name ë³€ê²½
columns = { 'ì´ë¦„' : 'Name', 'ë‚˜ì´': 'Age', 'ì„±ë³„': 'Gender'}
df.rename(columns=columns, inplace=True)
df

   Name   Age Gender
1   í™ê¸¸ë™  25.0      ë‚¨
2   ê¹€ì² ìˆ˜  30.0      ë‚¨
3   ì´ì˜í¬  28.0      ì—¬
4   ë°•ì§€ì›  22.0      ë‚¨
5   ì¥ë¯¼ì£¼  29.0      ì—¬
6   ì‹ ë™í˜¸  27.0      ë‚¨
7   ê¹€ë¯¼ì§€  24.0      ì—¬
8   ì´í•˜ëŠ˜  26.0      ì—¬
9   ì •ìŠ¹ìš°   NaN   None
10  í•œì§€í˜œ  23.0      ì—¬

In [102]:
# íŠ¹ì • ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ 
#  ë°ì´í„°í”„ë ˆì„ ìƒì„±
data = {'ì„±ë³„': ['ë‚¨', 'ì—¬', 'ë‚¨', 'ì—¬', 'ì—¬'],
        'ë‚˜ì´': [25, 30, 28, 32, 27]}
df = pd.DataFrame(data)

sorted_df = df.sort_values(by='ë‚˜ì´')
sorted_df

  ì„±ë³„  ë‚˜ì´
0  ë‚¨  25
4  ì—¬  27
2  ë‚¨  28
1  ì—¬  30
3  ì—¬  32

In [103]:
desc_sorted_df = df.sort_values(by='ë‚˜ì´', ascending=False) # ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬
desc_sorted_df

  ì„±ë³„  ë‚˜ì´
3  ì—¬  32
1  ì—¬  30
2  ë‚¨  28
4  ì—¬  27
0  ë‚¨  25

In [104]:
# ì •ë ¬í•œ ì´í›„ ì¸ë±ìŠ¤ë¥¼ ì¬ì„¤ì • 
print('sorted value: ', sorted_df)
sorted_df.reset_index(drop=True, inplace=True)  # drop=True: ê¸°ì¡´ ì¸ë±ìŠ¤ë¥¼ ì‚­ì œí•˜ê³  ìƒˆ ì¸ë±ìŠ¤ë¥¼ ìƒì„±
# ê¸°ì¡´ì¸ë±ìŠ¤ë¥¼ ë‚¨ê¸°ë ¤ë©´ drop=False ë¡œ ì„¤ì •
print('reset index: ', sorted_df)

sorted value:    ì„±ë³„  ë‚˜ì´
0  ë‚¨  25
4  ì—¬  27
2  ë‚¨  28
1  ì—¬  30
3  ì—¬  32
reset index:    ì„±ë³„  ë‚˜ì´
0  ë‚¨  25
1  ì—¬  27
2  ë‚¨  28
3  ì—¬  30
4  ì—¬  32

In [110]:
def setting_value(row):
    if row['ì´ë¦„'] in ['ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜']:
        return 'Aí•™êµ'  
    else:
        return 'Bí•™êµ'
data = {
    'ì´ë¦„': ['ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜', 'ì§€ì˜', 'ì§€ìˆ˜'],
    'ë‚˜ì´': [25, 30, 35, 28, 29],
    'ì„±ë³„': ['ë‚¨', 'ì—¬', 'ë‚¨', 'ì—¬', 'ì—¬'],
    'ì„±ì ': [80, 90, 75, 85, 95]
}
change_value = { 'ë‚˜ì´': 'ì—°ë ¹', 'ì„±ë³„':'ë‚¨ë…€' }
df = pd.DataFrame(data)
print(df)

result_df = df.rename(columns=change_value, inplace=False)
result_df['í•™êµ'] = df.apply(setting_value, axis=1)  # axis=1: í–‰ ë‹¨ìœ„ë¡œ ì ìš©']
print(result_df)

   ì´ë¦„  ë‚˜ì´ ì„±ë³„  ì„±ì
0  ì² ìˆ˜  25  ë‚¨  80
1  ì˜í¬  30  ì—¬  90
2  ë¯¼ìˆ˜  35  ë‚¨  75
3  ì§€ì˜  28  ì—¬  85
4  ì§€ìˆ˜  29  ì—¬  95
   ì´ë¦„  ì—°ë ¹ ë‚¨ë…€  ì„±ì    í•™êµ
0  ì² ìˆ˜  25  ë‚¨  80  Aí•™êµ
1  ì˜í¬  30  ì—¬  90  Aí•™êµ
2  ë¯¼ìˆ˜  35  ë‚¨  75  Aí•™êµ
3  ì§€ì˜  28  ì—¬  85  Bí•™êµ
4  ì§€ìˆ˜  29  ì—¬  95  Bí•™êµ

In [111]:
data = {
    'ì´ë¦„': ['ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜', 'ì§€ì˜', 'ì§€ìˆ˜'],
    'ì—°ë ¹': [25, 30, 35, 28, 29],
    'ë‚¨ë…€': ['ë‚¨', 'ì—¬', 'ë‚¨', 'ì—¬', 'ì—¬'],
    'ì„±ì ': [80, 90, 75, 85, 95],
    'í•™êµ': ['Aí•™êµ', 'Aí•™êµ', 'Aí•™êµ', 'Bí•™êµ', 'Bí•™êµ']
}
df = pd.DataFrame(data)

result_df = df.sort_values('ì„±ì ', ascending=False)[['í•™êµ','ì´ë¦„','ì„±ì ']]
result_df

    í•™êµ  ì´ë¦„  ì„±ì
4  Bí•™êµ  ì§€ìˆ˜  95
1  Aí•™êµ  ì˜í¬  90
3  Bí•™êµ  ì§€ì˜  85
0  Aí•™êµ  ì² ìˆ˜  80
2  Aí•™êµ  ë¯¼ìˆ˜  75

In [112]:
import pandas as pd

data_dict = {
    'ì´ë¦„': ['í™ê¸¸ë™', 'ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ì§€ì›', 'ì¥ë¯¼ì£¼', 'ì‹ ë™í˜¸', 'ê¹€ë¯¼ì§€', 'ì´í•˜ëŠ˜', 'ì •ìŠ¹ìš°', 'í•œì§€í˜œ'],
    'ë‚˜ì´': [25, 30, 28, 22, 29, 27, 24, 26, 20, 23],
    'ì„±ë³„': ['ë‚¨', 'ë‚¨', 'ì—¬', 'ë‚¨', 'ì—¬', 'ë‚¨', 'ì—¬', 'ì—¬', 'ì—¬', 'ì—¬']
}
df = pd.DataFrame(data_dict)
df.index = [1,2,3,4,5,6,7,8,9,10]
df

     ì´ë¦„  ë‚˜ì´ ì„±ë³„
1   í™ê¸¸ë™  25  ë‚¨
2   ê¹€ì² ìˆ˜  30  ë‚¨
3   ì´ì˜í¬  28  ì—¬
4   ë°•ì§€ì›  22  ë‚¨
5   ì¥ë¯¼ì£¼  29  ì—¬
6   ì‹ ë™í˜¸  27  ë‚¨
7   ê¹€ë¯¼ì§€  24  ì—¬
8   ì´í•˜ëŠ˜  26  ì—¬
9   ì •ìŠ¹ìš°  20  ì—¬
10  í•œì§€í˜œ  23  ì—¬

In [113]:
# apply() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ê° í–‰ì— ëŒ€í•´ í•¨ìˆ˜ë¥¼ ì ìš©

In [114]:
def age_category(age):
    # í•¨ìˆ˜ ë‚´ìš©ì„ ì±„ì›Œì£¼ì„¸ìš”
    if age < 30:
        return 'Young'
    else:
        return 'Adult'

result_df = df.copy()
result_df['ì—°ë ¹ëŒ€'] = result_df['ë‚˜ì´'].apply(age_category)
result_df

     ì´ë¦„  ë‚˜ì´ ì„±ë³„    ì—°ë ¹ëŒ€
1   í™ê¸¸ë™  25  ë‚¨  Young
2   ê¹€ì² ìˆ˜  30  ë‚¨  Adult
3   ì´ì˜í¬  28  ì—¬  Young
4   ë°•ì§€ì›  22  ë‚¨  Young
5   ì¥ë¯¼ì£¼  29  ì—¬  Young
6   ì‹ ë™í˜¸  27  ë‚¨  Young
7   ê¹€ë¯¼ì§€  24  ì—¬  Young
8   ì´í•˜ëŠ˜  26  ì—¬  Young
9   ì •ìŠ¹ìš°  20  ì—¬  Young
10  í•œì§€í˜œ  23  ì—¬  Young

In [115]:
result_df = df.copy()
df['ì—°ë ¹ëŒ€'] = df.apply(lambda x: 'Young' if x['ë‚˜ì´'] < 30 else 'Adult', axis=1)
df

     ì´ë¦„  ë‚˜ì´ ì„±ë³„    ì—°ë ¹ëŒ€
1   í™ê¸¸ë™  25  ë‚¨  Young
2   ê¹€ì² ìˆ˜  30  ë‚¨  Adult
3   ì´ì˜í¬  28  ì—¬  Young
4   ë°•ì§€ì›  22  ë‚¨  Young
5   ì¥ë¯¼ì£¼  29  ì—¬  Young
6   ì‹ ë™í˜¸  27  ë‚¨  Young
7   ê¹€ë¯¼ì§€  24  ì—¬  Young
8   ì´í•˜ëŠ˜  26  ì—¬  Young
9   ì •ìŠ¹ìš°  20  ì—¬  Young
10  í•œì§€í˜œ  23  ì—¬  Young

In [116]:
def combine_age_gender(age, gender):
    return f'{age}ì„¸ {gender}'

# apply í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ìƒˆë¡œìš´ ì»¬ëŸ¼ ì¶”ê°€
result_df = df.copy()
result_df['ë‚˜ì´ì™€ ì„±ë³„'] = result_df.apply(lambda row: combine_age_gender(row['ë‚˜ì´'],row['ì„±ë³„']), axis=1)
result_df

     ì´ë¦„  ë‚˜ì´ ì„±ë³„    ì—°ë ¹ëŒ€ ë‚˜ì´ì™€ ì„±ë³„
1   í™ê¸¸ë™  25  ë‚¨  Young  25ì„¸ ë‚¨
2   ê¹€ì² ìˆ˜  30  ë‚¨  Adult  30ì„¸ ë‚¨
3   ì´ì˜í¬  28  ì—¬  Young  28ì„¸ ì—¬
4   ë°•ì§€ì›  22  ë‚¨  Young  22ì„¸ ë‚¨
5   ì¥ë¯¼ì£¼  29  ì—¬  Young  29ì„¸ ì—¬
6   ì‹ ë™í˜¸  27  ë‚¨  Young  27ì„¸ ë‚¨
7   ê¹€ë¯¼ì§€  24  ì—¬  Young  24ì„¸ ì—¬
8   ì´í•˜ëŠ˜  26  ì—¬  Young  26ì„¸ ì—¬
9   ì •ìŠ¹ìš°  20  ì—¬  Young  20ì„¸ ì—¬
10  í•œì§€í˜œ  23  ì—¬  Young  23ì„¸ ì—¬

In [ ]:
# applymap() function
# DataFrameì˜ ëª¨ë“  ìš”ì†Œì— ëŒ€í•´ í•¨ìˆ˜ë¥¼ ì ìš©
df_str = df.applymap(lambda x: str(x) ) # dataFrameì˜ ëª¨ë“  ìš”ì†Œë¥¼ ë¬¸ìì—´ë¡œ ë³€í™˜
# seriesì˜ ê²½ìš° apply()ë¥¼ ì‚¬ìš©
# ëª¨ë“  ì›ì†Œì— ë™ì¼í•œ ì—°ì‚°ì„ ì ìš©í•´ì•¼ í•  ë•Œ ìœ ìš© 
df_str

/var/folders/ct/csn7gw6j4lzg64vvct28bvj00000gn/T/ipykernel_38748/259400351.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_str = df.applymap(lambda x: str(x) )

     ì´ë¦„  ë‚˜ì´ ì„±ë³„    ì—°ë ¹ëŒ€
1   í™ê¸¸ë™  25  ë‚¨  Young
2   ê¹€ì² ìˆ˜  30  ë‚¨  Adult
3   ì´ì˜í¬  28  ì—¬  Young
4   ë°•ì§€ì›  22  ë‚¨  Young
5   ì¥ë¯¼ì£¼  29  ì—¬  Young
6   ì‹ ë™í˜¸  27  ë‚¨  Young
7   ê¹€ë¯¼ì§€  24  ì—¬  Young
8   ì´í•˜ëŠ˜  26  ì—¬  Young
9   ì •ìŠ¹ìš°  20  ì—¬  Young
10  í•œì§€í˜œ  23  ì—¬  Young

In [119]:
# iterrows() function
# DataFrameì˜ ê° í–‰ì„ ë°˜ë³µí•˜ë©´ì„œ ì¸ë±ìŠ¤ì™€ í–‰ ë°ì´í„°ë¥¼ íŠœí”Œë¡œ ë°˜í™˜
for index, row in df.iterrows():
    print(f"Index: {index}, Name: {row['ì´ë¦„']}, Age: {row['ë‚˜ì´']}, Gender: {row['ì„±ë³„']}")
    print("-"*20)

Index: 1, Name: í™ê¸¸ë™, Age: 25, Gender: ë‚¨
--------------------
Index: 2, Name: ê¹€ì² ìˆ˜, Age: 30, Gender: ë‚¨
--------------------
Index: 3, Name: ì´ì˜í¬, Age: 28, Gender: ì—¬
--------------------
Index: 4, Name: ë°•ì§€ì›, Age: 22, Gender: ë‚¨
--------------------
Index: 5, Name: ì¥ë¯¼ì£¼, Age: 29, Gender: ì—¬
--------------------
Index: 6, Name: ì‹ ë™í˜¸, Age: 27, Gender: ë‚¨
--------------------
Index: 7, Name: ê¹€ë¯¼ì§€, Age: 24, Gender: ì—¬
--------------------
Index: 8, Name: ì´í•˜ëŠ˜, Age: 26, Gender: ì—¬
--------------------
Index: 9, Name: ì •ìŠ¹ìš°, Age: 20, Gender: ì—¬
--------------------
Index: 10, Name: í•œì§€í˜œ, Age: 23, Gender: ì—¬
--------------------

In [122]:
# groupby() function
# DataFrameì„ íŠ¹ì • ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™”í•˜ì—¬ ì§‘ê³„ ì—°ì‚°ì„ ìˆ˜í–‰
grouped = df.groupby('ì„±ë³„')['ë‚˜ì´'].mean()  # ì„±ë³„ì„ ê¸°ì¤€ìœ¼ë¡œ í‰ê·  ê³„ì‚°
print(grouped)
# sum(), mean(), median(), min(), max(), count() ë“±ì˜ ì§‘ê³„ í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆìŒ
# std(), var() ë“±ì˜ í†µê³„ í•¨ìˆ˜ë„ ì‚¬ìš© ê°€ëŠ¥

ì„±ë³„
ë‚¨    26.0
ì—¬    25.0
Name: ë‚˜ì´, dtype: float64

In [125]:
# agg() function
# ì—¬ëŸ¬ ì§‘ê³„ í•¨ìˆ˜ë¥¼ ë™ì‹œì— ì ìš©í•  ìˆ˜ ìˆìŒ
grouped_agg = df['ë‚˜ì´'].agg(['mean', 'min', 'max', 'std'])  # í‰ê· , ìµœì†Œ, ìµœëŒ€, í‘œì¤€í¸ì°¨ ê³„ì‚°
print(grouped_agg)

mean    25.400000
min     20.000000
max     30.000000
std      3.204164
Name: ë‚˜ì´, dtype: float64

In [127]:
grouped_agg = df[['ë‚˜ì´', 'ì„±ë³„']].agg({'ë‚˜ì´': ['mean', 'min', 'max']})
print(grouped_agg)

        ë‚˜ì´
mean  25.4
min   20.0
max   30.0

In [134]:
grouped_agg = df.agg({'ë‚˜ì´': ['mean', 'min', 'max']})
print(grouped_agg)

        ë‚˜ì´
mean  25.4
min   20.0
max   30.0

# Concatenate Datafram

In [135]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

display(df1)
display(df2)

   A  B
0  1  3
1  2  4

   A  B
0  5  7
1  6  8

In [136]:
concatenated = pd.concat([df1, df2], axis=0)  # axis=0: í–‰ ë°©í–¥ìœ¼ë¡œ ì—°ê²°
print("Concatenated DataFrame (í–‰ ë°©í–¥):")
display(concatenated)

Concatenated DataFrame (í–‰ ë°©í–¥):

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [137]:
concatenated = pd.concat([df1, df2], axis=1)
concatenated

   A  B  A  B
0  1  3  5  7
1  2  4  6  8

In [138]:
# inner join
# ì²« ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„ ìƒì„±
df1 = pd.DataFrame({'ID': [1, 2, 3],
                    'name': ['ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜']})

# ë‘ ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„ ìƒì„±
df2 = pd.DataFrame({'ID': [1, 2, 4],
                    'age': [25, 30, 28]})

display(df1)
display(df2)

# 'í•™ìƒID' ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ë‘ ë°ì´í„°í”„ë ˆì„ ì¡°ì¸
joined_df = pd.merge(df1, df2, on='ID', how='inner')
joined_df

   ID name
0   1   ì² ìˆ˜
1   2   ì˜í¬
2   3   ë¯¼ìˆ˜

   ID  age
0   1   25
1   2   30
2   4   28

   ID name  age
0   1   ì² ìˆ˜   25
1   2   ì˜í¬   30

In [142]:
# left join
# 'í•™ìƒID' ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ Left ì¡°ì¸
display(df1)
display(df2)
left_joined_df = pd.merge(df1, df2, on='ID', how='left')
left_joined_df

   ID name
0   1   ì² ìˆ˜
1   2   ì˜í¬
2   3   ë¯¼ìˆ˜

   ID  age
0   1   25
1   2   30
2   4   28

   ID name   age
0   1   ì² ìˆ˜  25.0
1   2   ì˜í¬  30.0
2   3   ë¯¼ìˆ˜   NaN

In [141]:
display(df1)
display(df2)
outer_joined_df = pd.merge(df1, df2, on='ID', how='outer')
outer_joined_df

   ID name
0   1   ì² ìˆ˜
1   2   ì˜í¬
2   3   ë¯¼ìˆ˜

   ID  age
0   1   25
1   2   30
2   4   28

   ID name   age
0   1   ì² ìˆ˜  25.0
1   2   ì˜í¬  30.0
2   3   ë¯¼ìˆ˜   NaN
3   4  NaN  28.0

# ğŸ”— DataFrame Join ì—°ì‚° ì™„ì „ ê°€ì´ë“œ

## ğŸ“‹ Join ì—°ì‚°ì´ë€?
- **ì •ì˜**: ë‘ ê°œ ì´ìƒì˜ DataFrameì„ ê³µí†µ ì—´(í‚¤)ì„ ê¸°ì¤€ìœ¼ë¡œ ê²°í•©í•˜ëŠ” ì—°ì‚°
- **ëª©ì **: ë¶„ì‚°ëœ ë°ì´í„°ë¥¼ í†µí•©í•˜ì—¬ ë¶„ì„í•˜ê¸° ìœ„í•¨
- **í•µì‹¬**: ì–´ë–¤ í–‰ì„ í¬í•¨í• ì§€ ê²°ì •í•˜ëŠ” ë°©ì‹ì´ join íƒ€ì…ì„ êµ¬ë¶„

## ğŸ¯ 4ê°€ì§€ ì£¼ìš” Join íƒ€ì…

### 1ï¸âƒ£ Inner Join (ë‚´ë¶€ ì¡°ì¸)
- **íŠ¹ì§•**: ë‘ DataFrameì—ì„œ **ê³µí†µìœ¼ë¡œ ì¡´ì¬í•˜ëŠ” í‚¤**ë§Œ í¬í•¨
- **ê²°ê³¼**: êµì§‘í•©ê³¼ ê°™ì€ ê°œë…
- **ì‚¬ìš© ì‹œê¸°**: ì™„ì „íˆ ë§¤ì¹­ë˜ëŠ” ë°ì´í„°ë§Œ í•„ìš”í•  ë•Œ

### 2ï¸âƒ£ Left Join (ì¢Œì¸¡ ì¡°ì¸)  
- **íŠ¹ì§•**: **ì™¼ìª½ DataFrameì˜ ëª¨ë“  í–‰** + ì˜¤ë¥¸ìª½ì—ì„œ ë§¤ì¹­ë˜ëŠ” í–‰
- **ê²°ê³¼**: ì™¼ìª½ ê¸°ì¤€, ë§¤ì¹­ ì•ˆ ë˜ë©´ NaN
- **ì‚¬ìš© ì‹œê¸°**: ê¸°ì¤€ ë°ì´í„°ë¥¼ ëª¨ë‘ ìœ ì§€í•˜ë©´ì„œ ì¶”ê°€ ì •ë³´ë¥¼ ê²°í•©í•  ë•Œ

### 3ï¸âƒ£ Right Join (ìš°ì¸¡ ì¡°ì¸)
- **íŠ¹ì§•**: **ì˜¤ë¥¸ìª½ DataFrameì˜ ëª¨ë“  í–‰** + ì™¼ìª½ì—ì„œ ë§¤ì¹­ë˜ëŠ” í–‰  
- **ê²°ê³¼**: ì˜¤ë¥¸ìª½ ê¸°ì¤€, ë§¤ì¹­ ì•ˆ ë˜ë©´ NaN
- **ì‚¬ìš© ì‹œê¸°**: Left Joinì˜ ë°˜ëŒ€ (ì‹¤ë¬´ì—ì„œëŠ” Left Joinì„ ë” ë§ì´ ì‚¬ìš©)

### 4ï¸âƒ£ Outer Join (ì™¸ë¶€ ì¡°ì¸)
- **íŠ¹ì§•**: **ì–‘ìª½ DataFrameì˜ ëª¨ë“  í–‰** í¬í•¨
- **ê²°ê³¼**: í•©ì§‘í•©ê³¼ ê°™ì€ ê°œë…
- **ì‚¬ìš© ì‹œê¸°**: ëª¨ë“  ë°ì´í„°ë¥¼ ë³´ì¡´í•˜ë©´ì„œ ê²°í•©í•  ë•Œ

In [143]:
print("=== ğŸ¯ Join ì—°ì‚° ì‹¤ìŠµ ë°ì´í„° ì¤€ë¹„ ===")
import pandas as pd

# í•™ìƒ ì •ë³´ ë°ì´í„°í”„ë ˆì„ (ì™¼ìª½)
students_df = pd.DataFrame({
    'student_id': [1, 2, 3, 4, 5],
    'name': ['ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ë¯¼ìˆ˜', 'ì •ì§€ì˜', 'ì¥ìˆ˜ë¯¼'],
    'grade': ['A', 'B', 'A', 'C', 'B']
})

# ì ìˆ˜ ì •ë³´ ë°ì´í„°í”„ë ˆì„ (ì˜¤ë¥¸ìª½)  
scores_df = pd.DataFrame({
    'student_id': [1, 2, 3, 6, 7],
    'math_score': [95, 87, 92, 89, 84],
    'english_score': [88, 94, 85, 91, 87]
})

print("ğŸ“š í•™ìƒ ì •ë³´ (students_df):")
display(students_df)
print("\nğŸ“Š ì ìˆ˜ ì •ë³´ (scores_df):")
display(scores_df)

print("\nğŸ” ë°ì´í„° ë¶„ì„:")
print(f"â€¢ í•™ìƒ ì •ë³´ ë°ì´í„°: {len(students_df)}ëª…")
print(f"â€¢ ì ìˆ˜ ì •ë³´ ë°ì´í„°: {len(scores_df)}ëª…") 
print(f"â€¢ ê³µí†µ í•™ìƒ ID: {set(students_df['student_id']) & set(scores_df['student_id'])}")
print(f"â€¢ í•™ìƒ ì •ë³´ì—ë§Œ ìˆëŠ” ID: {set(students_df['student_id']) - set(scores_df['student_id'])}")
print(f"â€¢ ì ìˆ˜ ì •ë³´ì—ë§Œ ìˆëŠ” ID: {set(scores_df['student_id']) - set(students_df['student_id'])}")

=== ğŸ¯ Join ì—°ì‚° ì‹¤ìŠµ ë°ì´í„° ì¤€ë¹„ ===
ğŸ“š í•™ìƒ ì •ë³´ (students_df):

   student_id name grade
0           1  ê¹€ì² ìˆ˜     A
1           2  ì´ì˜í¬     B
2           3  ë°•ë¯¼ìˆ˜     A
3           4  ì •ì§€ì˜     C
4           5  ì¥ìˆ˜ë¯¼     B

ğŸ“Š ì ìˆ˜ ì •ë³´ (scores_df):

   student_id  math_score  english_score
0           1          95             88
1           2          87             94
2           3          92             85
3           6          89             91
4           7          84             87

ğŸ” ë°ì´í„° ë¶„ì„:
â€¢ í•™ìƒ ì •ë³´ ë°ì´í„°: 5ëª…
â€¢ ì ìˆ˜ ì •ë³´ ë°ì´í„°: 5ëª…
â€¢ ê³µí†µ í•™ìƒ ID: {1, 2, 3}
â€¢ í•™ìƒ ì •ë³´ì—ë§Œ ìˆëŠ” ID: {4, 5}
â€¢ ì ìˆ˜ ì •ë³´ì—ë§Œ ìˆëŠ” ID: {6, 7}

In [144]:
print("\n=== 1ï¸âƒ£ INNER JOIN (ë‚´ë¶€ ì¡°ì¸) ===")
print("ğŸ¯ ëª©í‘œ: ë‘ DataFrameì—ì„œ ê³µí†µìœ¼ë¡œ ì¡´ì¬í•˜ëŠ” student_idë§Œ í¬í•¨")

# Inner Join ìˆ˜í–‰
inner_result = pd.merge(students_df, scores_df, on='student_id', how='inner')

print("ğŸ“‹ Inner Join ê²°ê³¼:")
display(inner_result)

print(f"ğŸ” ë¶„ì„:")
print(f"â€¢ ì›ë³¸ í•™ìƒ ìˆ˜: {len(students_df)}ëª…")
print(f"â€¢ ì›ë³¸ ì ìˆ˜ ìˆ˜: {len(scores_df)}ê°œ")  
print(f"â€¢ Inner Join ê²°ê³¼: {len(inner_result)}í–‰")
print(f"â€¢ í¬í•¨ëœ í•™ìƒ ID: {inner_result['student_id'].tolist()}")
print(f"â€¢ ì œì™¸ëœ í•™ìƒ: ê¹€ì² ìˆ˜ ì™¸ {len(students_df) - len(inner_result)}ëª… (ì ìˆ˜ ì—†ìŒ)")
print(f"â€¢ ì œì™¸ëœ ì ìˆ˜: {len(scores_df) - len(inner_result)}ê°œ (í•™ìƒ ì •ë³´ ì—†ìŒ)")

print("\nğŸ’¡ Inner Join íŠ¹ì§•:")
print("âœ… ì™„ì „íˆ ë§¤ì¹­ë˜ëŠ” ë°ì´í„°ë§Œ í¬í•¨")
print("âœ… ë°ì´í„° ë¬´ê²°ì„± ë³´ì¥")
print("âŒ ì¼ë¶€ ë°ì´í„° ì†ì‹¤ ê°€ëŠ¥ì„±")
print("ğŸ¯ ì‚¬ìš© ì˜ˆì‹œ: ì„±ì  ë¶„ì„ ì‹œ í•™ìƒ ì •ë³´ì™€ ì ìˆ˜ê°€ ëª¨ë‘ ìˆëŠ” ê²½ìš°ë§Œ")

=== 1ï¸âƒ£ INNER JOIN (ë‚´ë¶€ ì¡°ì¸) ===
ğŸ¯ ëª©í‘œ: ë‘ DataFrameì—ì„œ ê³µí†µìœ¼ë¡œ ì¡´ì¬í•˜ëŠ” student_idë§Œ í¬í•¨
ğŸ“‹ Inner Join ê²°ê³¼:

   student_id name grade  math_score  english_score
0           1  ê¹€ì² ìˆ˜     A          95             88
1           2  ì´ì˜í¬     B          87             94
2           3  ë°•ë¯¼ìˆ˜     A          92             85

ğŸ” ë¶„ì„:
â€¢ ì›ë³¸ í•™ìƒ ìˆ˜: 5ëª…
â€¢ ì›ë³¸ ì ìˆ˜ ìˆ˜: 5ê°œ
â€¢ Inner Join ê²°ê³¼: 3í–‰
â€¢ í¬í•¨ëœ í•™ìƒ ID: [1, 2, 3]
â€¢ ì œì™¸ëœ í•™ìƒ: ê¹€ì² ìˆ˜ ì™¸ 2ëª… (ì ìˆ˜ ì—†ìŒ)
â€¢ ì œì™¸ëœ ì ìˆ˜: 2ê°œ (í•™ìƒ ì •ë³´ ì—†ìŒ)

ğŸ’¡ Inner Join íŠ¹ì§•:
âœ… ì™„ì „íˆ ë§¤ì¹­ë˜ëŠ” ë°ì´í„°ë§Œ í¬í•¨
âœ… ë°ì´í„° ë¬´ê²°ì„± ë³´ì¥
âŒ ì¼ë¶€ ë°ì´í„° ì†ì‹¤ ê°€ëŠ¥ì„±
ğŸ¯ ì‚¬ìš© ì˜ˆì‹œ: ì„±ì  ë¶„ì„ ì‹œ í•™ìƒ ì •ë³´ì™€ ì ìˆ˜ê°€ ëª¨ë‘ ìˆëŠ” ê²½ìš°ë§Œ

In [145]:
print("\n=== 2ï¸âƒ£ LEFT JOIN (ì¢Œì¸¡ ì¡°ì¸) ===")
print("ğŸ¯ ëª©í‘œ: ì™¼ìª½ DataFrame(í•™ìƒ ì •ë³´)ì˜ ëª¨ë“  í–‰ ìœ ì§€ + ë§¤ì¹­ë˜ëŠ” ì ìˆ˜ ì •ë³´ ì¶”ê°€")

# Left Join ìˆ˜í–‰
left_result = pd.merge(students_df, scores_df, on='student_id', how='left')

print("ğŸ“‹ Left Join ê²°ê³¼:")
display(left_result)

print(f"ğŸ” ë¶„ì„:")
print(f"â€¢ ì›ë³¸ í•™ìƒ ìˆ˜: {len(students_df)}ëª…")
print(f"â€¢ Left Join ê²°ê³¼: {len(left_result)}í–‰ (í•™ìƒ ìˆ˜ì™€ ë™ì¼)")
print(f"â€¢ ì ìˆ˜ê°€ ìˆëŠ” í•™ìƒ: {left_result['math_score'].notna().sum()}ëª…")
print(f"â€¢ ì ìˆ˜ê°€ ì—†ëŠ” í•™ìƒ: {left_result['math_score'].isna().sum()}ëª…")

# ì ìˆ˜ê°€ ì—†ëŠ” í•™ìƒ í™•ì¸
missing_scores = left_result[left_result['math_score'].isna()]
if not missing_scores.empty:
    print(f"â€¢ ì ìˆ˜ ì—†ëŠ” í•™ìƒ: {', '.join(missing_scores['name'].tolist())}")

print("\nğŸ’¡ Left Join íŠ¹ì§•:")
print("âœ… ê¸°ì¤€ í…Œì´ë¸”(ì™¼ìª½)ì˜ ëª¨ë“  ë°ì´í„° ë³´ì¡´")
print("âœ… ë§¤ì¹­ë˜ì§€ ì•ŠëŠ” ê²½ìš° NaNìœ¼ë¡œ í‘œì‹œ")
print("âœ… ë°ì´í„° ì†ì‹¤ ì—†ìŒ (ê¸°ì¤€ í…Œì´ë¸” ê¸°ì¤€)")
print("ğŸ¯ ì‚¬ìš© ì˜ˆì‹œ: ëª¨ë“  í•™ìƒ ëª…ë‹¨ ìœ ì§€í•˜ë©´ì„œ ì ìˆ˜ ì •ë³´ ì¶”ê°€")
print("ğŸ“Š ì‹¤ë¬´ í™œìš©: ê³ ê° ì •ë³´ + êµ¬ë§¤ ì´ë ¥, ì§ì› ì •ë³´ + í‰ê°€ ì ìˆ˜")

=== 2ï¸âƒ£ LEFT JOIN (ì¢Œì¸¡ ì¡°ì¸) ===
ğŸ¯ ëª©í‘œ: ì™¼ìª½ DataFrame(í•™ìƒ ì •ë³´)ì˜ ëª¨ë“  í–‰ ìœ ì§€ + ë§¤ì¹­ë˜ëŠ” ì ìˆ˜ ì •ë³´ ì¶”ê°€
ğŸ“‹ Left Join ê²°ê³¼:

   student_id name grade  math_score  english_score
0           1  ê¹€ì² ìˆ˜     A        95.0           88.0
1           2  ì´ì˜í¬     B        87.0           94.0
2           3  ë°•ë¯¼ìˆ˜     A        92.0           85.0
3           4  ì •ì§€ì˜     C         NaN            NaN
4           5  ì¥ìˆ˜ë¯¼     B         NaN            NaN

ğŸ” ë¶„ì„:
â€¢ ì›ë³¸ í•™ìƒ ìˆ˜: 5ëª…
â€¢ Left Join ê²°ê³¼: 5í–‰ (í•™ìƒ ìˆ˜ì™€ ë™ì¼)
â€¢ ì ìˆ˜ê°€ ìˆëŠ” í•™ìƒ: 3ëª…
â€¢ ì ìˆ˜ê°€ ì—†ëŠ” í•™ìƒ: 2ëª…
â€¢ ì ìˆ˜ ì—†ëŠ” í•™ìƒ: ì •ì§€ì˜, ì¥ìˆ˜ë¯¼

ğŸ’¡ Left Join íŠ¹ì§•:
âœ… ê¸°ì¤€ í…Œì´ë¸”(ì™¼ìª½)ì˜ ëª¨ë“  ë°ì´í„° ë³´ì¡´
âœ… ë§¤ì¹­ë˜ì§€ ì•ŠëŠ” ê²½ìš° NaNìœ¼ë¡œ í‘œì‹œ
âœ… ë°ì´í„° ì†ì‹¤ ì—†ìŒ (ê¸°ì¤€ í…Œì´ë¸” ê¸°ì¤€)
ğŸ¯ ì‚¬ìš© ì˜ˆì‹œ: ëª¨ë“  í•™ìƒ ëª…ë‹¨ ìœ ì§€í•˜ë©´ì„œ ì ìˆ˜ ì •ë³´ ì¶”ê°€
ğŸ“Š ì‹¤ë¬´ í™œìš©: ê³ ê° ì •ë³´ + êµ¬ë§¤ ì´ë ¥, ì§ì› ì •ë³´ + í‰ê°€ ì ìˆ˜

In [146]:
print("\n=== 3ï¸âƒ£ RIGHT JOIN (ìš°ì¸¡ ì¡°ì¸) ===")
print("ğŸ¯ ëª©í‘œ: ì˜¤ë¥¸ìª½ DataFrame(ì ìˆ˜ ì •ë³´)ì˜ ëª¨ë“  í–‰ ìœ ì§€ + ë§¤ì¹­ë˜ëŠ” í•™ìƒ ì •ë³´ ì¶”ê°€")

# Right Join ìˆ˜í–‰
right_result = pd.merge(students_df, scores_df, on='student_id', how='right')

print("ğŸ“‹ Right Join ê²°ê³¼:")
display(right_result)

print(f"ğŸ” ë¶„ì„:")
print(f"â€¢ ì›ë³¸ ì ìˆ˜ ê°œìˆ˜: {len(scores_df)}ê°œ")
print(f"â€¢ Right Join ê²°ê³¼: {len(right_result)}í–‰ (ì ìˆ˜ ê°œìˆ˜ì™€ ë™ì¼)")
print(f"â€¢ í•™ìƒ ì •ë³´ê°€ ìˆëŠ” ì ìˆ˜: {right_result['name'].notna().sum()}ê°œ")
print(f"â€¢ í•™ìƒ ì •ë³´ê°€ ì—†ëŠ” ì ìˆ˜: {right_result['name'].isna().sum()}ê°œ")

# í•™ìƒ ì •ë³´ê°€ ì—†ëŠ” ì ìˆ˜ í™•ì¸
missing_students = right_result[right_result['name'].isna()]
if not missing_students.empty:
    print(f"â€¢ í•™ìƒ ì •ë³´ ì—†ëŠ” ID: {missing_students['student_id'].tolist()}")

print("\nğŸ’¡ Right Join íŠ¹ì§•:")
print("âœ… ê¸°ì¤€ í…Œì´ë¸”(ì˜¤ë¥¸ìª½)ì˜ ëª¨ë“  ë°ì´í„° ë³´ì¡´") 
print("âœ… ë§¤ì¹­ë˜ì§€ ì•ŠëŠ” ê²½ìš° NaNìœ¼ë¡œ í‘œì‹œ")
print("âœ… Left Joinì˜ ë°˜ëŒ€ ê°œë…")
print("ğŸ¯ ì‚¬ìš© ì˜ˆì‹œ: ëª¨ë“  ì ìˆ˜ ë°ì´í„° ìœ ì§€í•˜ë©´ì„œ í•™ìƒ ì •ë³´ ì¶”ê°€")
print("ğŸ“ ì°¸ê³ : ì‹¤ë¬´ì—ì„œëŠ” Left Joinì„ ë” ë§ì´ ì‚¬ìš© (ì§ê´€ì )")

=== 3ï¸âƒ£ RIGHT JOIN (ìš°ì¸¡ ì¡°ì¸) ===
ğŸ¯ ëª©í‘œ: ì˜¤ë¥¸ìª½ DataFrame(ì ìˆ˜ ì •ë³´)ì˜ ëª¨ë“  í–‰ ìœ ì§€ + ë§¤ì¹­ë˜ëŠ” í•™ìƒ ì •ë³´ ì¶”ê°€
ğŸ“‹ Right Join ê²°ê³¼:

   student_id name grade  math_score  english_score
0           1  ê¹€ì² ìˆ˜     A          95             88
1           2  ì´ì˜í¬     B          87             94
2           3  ë°•ë¯¼ìˆ˜     A          92             85
3           6  NaN   NaN          89             91
4           7  NaN   NaN          84             87

ğŸ” ë¶„ì„:
â€¢ ì›ë³¸ ì ìˆ˜ ê°œìˆ˜: 5ê°œ
â€¢ Right Join ê²°ê³¼: 5í–‰ (ì ìˆ˜ ê°œìˆ˜ì™€ ë™ì¼)
â€¢ í•™ìƒ ì •ë³´ê°€ ìˆëŠ” ì ìˆ˜: 3ê°œ
â€¢ í•™ìƒ ì •ë³´ê°€ ì—†ëŠ” ì ìˆ˜: 2ê°œ
â€¢ í•™ìƒ ì •ë³´ ì—†ëŠ” ID: [6, 7]

ğŸ’¡ Right Join íŠ¹ì§•:
âœ… ê¸°ì¤€ í…Œì´ë¸”(ì˜¤ë¥¸ìª½)ì˜ ëª¨ë“  ë°ì´í„° ë³´ì¡´
âœ… ë§¤ì¹­ë˜ì§€ ì•ŠëŠ” ê²½ìš° NaNìœ¼ë¡œ í‘œì‹œ
âœ… Left Joinì˜ ë°˜ëŒ€ ê°œë…
ğŸ¯ ì‚¬ìš© ì˜ˆì‹œ: ëª¨ë“  ì ìˆ˜ ë°ì´í„° ìœ ì§€í•˜ë©´ì„œ í•™ìƒ ì •ë³´ ì¶”ê°€
ğŸ“ ì°¸ê³ : ì‹¤ë¬´ì—ì„œëŠ” Left Joinì„ ë” ë§ì´ ì‚¬ìš© (ì§ê´€ì )

In [147]:
print("\n=== 4ï¸âƒ£ OUTER JOIN (ì™¸ë¶€ ì¡°ì¸) ===")
print("ğŸ¯ ëª©í‘œ: ì–‘ìª½ DataFrameì˜ ëª¨ë“  í–‰ í¬í•¨ (í•©ì§‘í•©)")

# Outer Join ìˆ˜í–‰
outer_result = pd.merge(students_df, scores_df, on='student_id', how='outer')

print("ğŸ“‹ Outer Join ê²°ê³¼:")
display(outer_result)

print(f"ğŸ” ë¶„ì„:")
print(f"â€¢ ì›ë³¸ í•™ìƒ ìˆ˜: {len(students_df)}ëª…")
print(f"â€¢ ì›ë³¸ ì ìˆ˜ ìˆ˜: {len(scores_df)}ê°œ")
print(f"â€¢ Outer Join ê²°ê³¼: {len(outer_result)}í–‰")
print(f"â€¢ ì™„ì „í•œ ë°ì´í„° (í•™ìƒì •ë³´ + ì ìˆ˜): {outer_result[['name', 'math_score']].notna().all(axis=1).sum()}í–‰")
print(f"â€¢ í•™ìƒ ì •ë³´ë§Œ ìˆëŠ” ê²½ìš°: {outer_result['name'].notna().sum() - outer_result[['name', 'math_score']].notna().all(axis=1).sum()}í–‰")
print(f"â€¢ ì ìˆ˜ ì •ë³´ë§Œ ìˆëŠ” ê²½ìš°: {outer_result['math_score'].notna().sum() - outer_result[['name', 'math_score']].notna().all(axis=1).sum()}í–‰")

print("\nğŸ’¡ Outer Join íŠ¹ì§•:")
print("âœ… ëª¨ë“  ë°ì´í„° ë³´ì¡´ (í•©ì§‘í•©)")
print("âœ… ë§¤ì¹­ë˜ì§€ ì•ŠëŠ” ê²½ìš° NaNìœ¼ë¡œ í‘œì‹œ")
print("âœ… ë°ì´í„° ì†ì‹¤ ì „í˜€ ì—†ìŒ")
print("âŒ ê²°ê³¼ í¬ê¸°ê°€ ê°€ì¥ í¼")
print("ğŸ¯ ì‚¬ìš© ì˜ˆì‹œ: ì „ì²´ ë°ì´í„° í˜„í™© íŒŒì•…, ëˆ„ë½ëœ ë°ì´í„° í™•ì¸")

print("\n=== ğŸ“Š 4ê°€ì§€ Join ê²°ê³¼ ë¹„êµ ===")
print(f"{'Join íƒ€ì…':<12} {'ê²°ê³¼ í–‰ìˆ˜':<8} {'íŠ¹ì§•'}")
print("-" * 50)
print(f"{'Inner':<12} {len(inner_result):<8} êµì§‘í•© (ì™„ì „ ë§¤ì¹­ë§Œ)")
print(f"{'Left':<12} {len(left_result):<8} ì™¼ìª½ ê¸°ì¤€ (í•™ìƒ ì •ë³´ ë³´ì¡´)")
print(f"{'Right':<12} {len(right_result):<8} ì˜¤ë¥¸ìª½ ê¸°ì¤€ (ì ìˆ˜ ì •ë³´ ë³´ì¡´)")
print(f"{'Outer':<12} {len(outer_result):<8} í•©ì§‘í•© (ëª¨ë“  ë°ì´í„° ë³´ì¡´)")

=== 4ï¸âƒ£ OUTER JOIN (ì™¸ë¶€ ì¡°ì¸) ===
ğŸ¯ ëª©í‘œ: ì–‘ìª½ DataFrameì˜ ëª¨ë“  í–‰ í¬í•¨ (í•©ì§‘í•©)
ğŸ“‹ Outer Join ê²°ê³¼:

   student_id name grade  math_score  english_score
0           1  ê¹€ì² ìˆ˜     A        95.0           88.0
1           2  ì´ì˜í¬     B        87.0           94.0
2           3  ë°•ë¯¼ìˆ˜     A        92.0           85.0
3           4  ì •ì§€ì˜     C         NaN            NaN
4           5  ì¥ìˆ˜ë¯¼     B         NaN            NaN
5           6  NaN   NaN        89.0           91.0
6           7  NaN   NaN        84.0           87.0

ğŸ” ë¶„ì„:
â€¢ ì›ë³¸ í•™ìƒ ìˆ˜: 5ëª…
â€¢ ì›ë³¸ ì ìˆ˜ ìˆ˜: 5ê°œ
â€¢ Outer Join ê²°ê³¼: 7í–‰
â€¢ ì™„ì „í•œ ë°ì´í„° (í•™ìƒì •ë³´ + ì ìˆ˜): 3í–‰
â€¢ í•™ìƒ ì •ë³´ë§Œ ìˆëŠ” ê²½ìš°: 2í–‰
â€¢ ì ìˆ˜ ì •ë³´ë§Œ ìˆëŠ” ê²½ìš°: 2í–‰

ğŸ’¡ Outer Join íŠ¹ì§•:
âœ… ëª¨ë“  ë°ì´í„° ë³´ì¡´ (í•©ì§‘í•©)
âœ… ë§¤ì¹­ë˜ì§€ ì•ŠëŠ” ê²½ìš° NaNìœ¼ë¡œ í‘œì‹œ
âœ… ë°ì´í„° ì†ì‹¤ ì „í˜€ ì—†ìŒ
âŒ ê²°ê³¼ í¬ê¸°ê°€ ê°€ì¥ í¼
ğŸ¯ ì‚¬ìš© ì˜ˆì‹œ: ì „ì²´ ë°ì´í„° í˜„í™© íŒŒì•…, ëˆ„ë½ëœ ë°ì´í„° í™•ì¸

=== ğŸ“Š 4ê°€ì§€ Join ê²°ê³¼ ë¹„êµ ===
Join íƒ€ì…      ê²°ê³¼ í–‰ìˆ˜    íŠ¹ì§•
--------------------------------------------------
Inner        3        êµì§‘í•© (ì™„ì „ ë§¤ì¹­ë§Œ)
Left         5        ì™¼ìª½ ê¸°ì¤€ (í•™ìƒ ì •ë³´ ë³´ì¡´)
Right        5        ì˜¤ë¥¸ìª½ ê¸°ì¤€ (ì ìˆ˜ ì •ë³´ ë³´ì¡´)
Outer        7        í•©ì§‘í•© (ëª¨ë“  ë°ì´í„° ë³´ì¡´)

In [148]:
print("\n=== ğŸ¯ ì‹¤ë¬´ í™œìš© ê°€ì´ë“œ ===")

print("ğŸ“ Join ì„ íƒ ê¸°ì¤€:")
print()
print("ğŸ¯ Inner Joinì„ ì„ íƒí•˜ëŠ” ê²½ìš°:")
print("   âœ… ì™„ì „í•œ ë°ì´í„°ë§Œ í•„ìš” (í’ˆì§ˆ ì¤‘ì‹œ)")
print("   âœ… ë¶„ì„ ì •í™•ë„ê°€ ìµœìš°ì„ ")
print("   âœ… ì˜ˆ: ì„±ì  ë¶„ì„ ì‹œ í•™ìƒ ì •ë³´ì™€ ì ìˆ˜ê°€ ëª¨ë‘ ìˆëŠ” ê²½ìš°ë§Œ")
print()
print("ğŸ¯ Left Joinì„ ì„ íƒí•˜ëŠ” ê²½ìš°:")  
print("   âœ… ê¸°ì¤€ ë°ì´í„°ë¥¼ ëª¨ë‘ ë³´ì¡´í•´ì•¼ í•¨")
print("   âœ… ì¶”ê°€ ì •ë³´ê°€ ìˆìœ¼ë©´ ê²°í•©, ì—†ì–´ë„ ë¬´ê´€")
print("   âœ… ì˜ˆ: ê³ ê° ëª©ë¡ + êµ¬ë§¤ ì´ë ¥, ì§ì› ëª©ë¡ + í‰ê°€ ì ìˆ˜")
print()
print("ğŸ¯ Right Joinì„ ì„ íƒí•˜ëŠ” ê²½ìš°:")
print("   âœ… Left Joinì˜ ë°˜ëŒ€ ìƒí™©")
print("   âœ… ì‹¤ë¬´ì—ì„œëŠ” ë“œë¬¼ê²Œ ì‚¬ìš© (Left Joinì„ ë” ì„ í˜¸)")
print()
print("ğŸ¯ Outer Joinì„ ì„ íƒí•˜ëŠ” ê²½ìš°:")
print("   âœ… ëª¨ë“  ë°ì´í„° í˜„í™© íŒŒì•… í•„ìš”")
print("   âœ… ë°ì´í„° ëˆ„ë½ í˜„í™© ë¶„ì„")
print("   âœ… ì˜ˆ: ì‹œìŠ¤í…œ ê°„ ë°ì´í„° ë™ê¸°í™” í™•ì¸")

print("\n=== ğŸ’¡ ì¶”ê°€ íŒ ===")
print()
print("ğŸ”‘ ì—¬ëŸ¬ ì—´ì„ í‚¤ë¡œ ì‚¬ìš©:")
print("   pd.merge(df1, df2, on=['col1', 'col2'], how='inner')")
print()
print("ğŸ”‘ ë‹¤ë¥¸ ì—´ ì´ë¦„ìœ¼ë¡œ ì¡°ì¸:")
print("   pd.merge(df1, df2, left_on='id1', right_on='id2', how='left')")
print()
print("ğŸ”‘ ì¸ë±ìŠ¤ë¡œ ì¡°ì¸:")
print("   pd.merge(df1, df2, left_index=True, right_index=True, how='outer')")
print()
print("ğŸ”‘ ì¤‘ë³µ ì—´ ì´ë¦„ ì²˜ë¦¬:")
print("   pd.merge(df1, df2, on='id', how='inner', suffixes=('_left', '_right'))")

print("\n=== âš ï¸ ì£¼ì˜ì‚¬í•­ ===")
print()
print("âŒ í‚¤ ì—´ì— ì¤‘ë³µê°’ì´ ìˆìœ¼ë©´ ê²°ê³¼ê°€ ì˜ˆìƒë³´ë‹¤ í´ ìˆ˜ ìˆìŒ")
print("âŒ ë°ì´í„° íƒ€ì…ì´ ë‹¤ë¥´ë©´ ì¡°ì¸ì´ ì œëŒ€ë¡œ ë˜ì§€ ì•Šì„ ìˆ˜ ìˆìŒ")  
print("âŒ NaN ê°’ì´ ìˆëŠ” í‚¤ë¡œëŠ” ì¡°ì¸ì´ ë˜ì§€ ì•ŠìŒ")
print("âœ… ì¡°ì¸ ì „ì— ë°ì´í„° íƒ€ì…ê³¼ ì¤‘ë³µê°’ í™•ì¸ í•„ìˆ˜")
print("âœ… ì¡°ì¸ í›„ ê²°ê³¼ í¬ê¸°ì™€ ë‚´ìš© ê²€ì¦ ê¶Œì¥")

print("\nğŸ‰ ì™„ë£Œ: DataFrame Join ì—°ì‚° ì™„ì „ ë§ˆìŠ¤í„°!")

=== ğŸ¯ ì‹¤ë¬´ í™œìš© ê°€ì´ë“œ ===
ğŸ“ Join ì„ íƒ ê¸°ì¤€:

ğŸ¯ Inner Joinì„ ì„ íƒí•˜ëŠ” ê²½ìš°:
   âœ… ì™„ì „í•œ ë°ì´í„°ë§Œ í•„ìš” (í’ˆì§ˆ ì¤‘ì‹œ)
   âœ… ë¶„ì„ ì •í™•ë„ê°€ ìµœìš°ì„
   âœ… ì˜ˆ: ì„±ì  ë¶„ì„ ì‹œ í•™ìƒ ì •ë³´ì™€ ì ìˆ˜ê°€ ëª¨ë‘ ìˆëŠ” ê²½ìš°ë§Œ

ğŸ¯ Left Joinì„ ì„ íƒí•˜ëŠ” ê²½ìš°:
   âœ… ê¸°ì¤€ ë°ì´í„°ë¥¼ ëª¨ë‘ ë³´ì¡´í•´ì•¼ í•¨
   âœ… ì¶”ê°€ ì •ë³´ê°€ ìˆìœ¼ë©´ ê²°í•©, ì—†ì–´ë„ ë¬´ê´€
   âœ… ì˜ˆ: ê³ ê° ëª©ë¡ + êµ¬ë§¤ ì´ë ¥, ì§ì› ëª©ë¡ + í‰ê°€ ì ìˆ˜

ğŸ¯ Right Joinì„ ì„ íƒí•˜ëŠ” ê²½ìš°:
   âœ… Left Joinì˜ ë°˜ëŒ€ ìƒí™©
   âœ… ì‹¤ë¬´ì—ì„œëŠ” ë“œë¬¼ê²Œ ì‚¬ìš© (Left Joinì„ ë” ì„ í˜¸)

ğŸ¯ Outer Joinì„ ì„ íƒí•˜ëŠ” ê²½ìš°:
   âœ… ëª¨ë“  ë°ì´í„° í˜„í™© íŒŒì•… í•„ìš”
   âœ… ë°ì´í„° ëˆ„ë½ í˜„í™© ë¶„ì„
   âœ… ì˜ˆ: ì‹œìŠ¤í…œ ê°„ ë°ì´í„° ë™ê¸°í™” í™•ì¸

=== ğŸ’¡ ì¶”ê°€ íŒ ===

ğŸ”‘ ì—¬ëŸ¬ ì—´ì„ í‚¤ë¡œ ì‚¬ìš©:
   pd.merge(df1, df2, on=['col1', 'col2'], how='inner')

ğŸ”‘ ë‹¤ë¥¸ ì—´ ì´ë¦„ìœ¼ë¡œ ì¡°ì¸:
   pd.merge(df1, df2, left_on='id1', right_on='id2', how='left')

ğŸ”‘ ì¸ë±ìŠ¤ë¡œ ì¡°ì¸:
   pd.merge(df1, df2, left_index=True, right_index=True, how='outer')

ğŸ”‘ ì¤‘ë³µ ì—´ ì´ë¦„ ì²˜ë¦¬:
   pd.merge(df1, df2, on='id', how='inner', suffixes=('_left', '_right'))

=== âš ï¸ ì£¼ì˜ì‚¬í•­ ===

âŒ í‚¤ ì—´ì— ì¤‘ë³µê°’ì´ ìˆìœ¼ë©´ ê²°ê³¼ê°€ ì˜ˆìƒë³´ë‹¤ í´ ìˆ˜ ìˆìŒ
âŒ ë°ì´í„° íƒ€ì…ì´ ë‹¤ë¥´ë©´ ì¡°ì¸ì´ ì œëŒ€ë¡œ ë˜ì§€ ì•Šì„ ìˆ˜ ìˆìŒ
âŒ NaN ê°’ì´ ìˆëŠ” í‚¤ë¡œëŠ” ì¡°ì¸ì´ ë˜ì§€ ì•ŠìŒ
âœ… ì¡°ì¸ ì „ì— ë°ì´í„° íƒ€ì…ê³¼ ì¤‘ë³µê°’ í™•ì¸ í•„ìˆ˜
âœ… ì¡°ì¸ í›„ ê²°ê³¼ í¬ê¸°ì™€ ë‚´ìš© ê²€ì¦ ê¶Œì¥

ğŸ‰ ì™„ë£Œ: DataFrame Join ì—°ì‚° ì™„ì „ ë§ˆìŠ¤í„°!

In [149]:
import pandas as pd
import numpy as np

# ë°ì´í„° ìƒì„±
data = {
    'í•™êµ': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B'],
    'í•™ìƒì´ë¦„': ['ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜', 'ì§€ì˜', 'ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜', 'ì§€ì˜', 'ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜', 'ì§€ì˜', 'ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜', 'ì§€ì˜', 'ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜', 'ì§€ì˜'],
    'í•™ë…„': [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2],
    'ìˆ˜í•™ì„±ì ': [np.nan, 85, 90, 70, 75, 80, 95, 60, np.nan, 80, 75, 85, 90, 70, 75, 80, 95, 60, np.nan, 80],
    'êµ­ì–´ì„±ì ': [85, 90, 70, 75, 80, 95, 60, 70, 85, 90, 70, 75, 80, 95, 60, 70, 85, np.nan, 70, 75],
    'ì˜ì–´ì„±ì ': [90, 70, 75, 80, 95, 60, 70, 85, 90, 70, 75, 80, 95, np.nan, 70, 85, 90, 70, 75, 80]
}

df = pd.DataFrame(data)
df.head(10)

  í•™êµ í•™ìƒì´ë¦„  í•™ë…„  ìˆ˜í•™ì„±ì   êµ­ì–´ì„±ì   ì˜ì–´ì„±ì
0  A   ì² ìˆ˜   1   NaN  85.0  90.0
1  B   ì˜í¬   2  85.0  90.0  70.0
2  C   ë¯¼ìˆ˜   3  90.0  70.0  75.0
3  A   ì§€ì˜   1  70.0  75.0  80.0
4  B   ì² ìˆ˜   2  75.0  80.0  95.0
5  C   ì˜í¬   3  80.0  95.0  60.0
6  A   ë¯¼ìˆ˜   1  95.0  60.0  70.0
7  B   ì§€ì˜   2  60.0  70.0  85.0
8  C   ì² ìˆ˜   3   NaN  85.0  90.0
9  A   ì˜í¬   1  80.0  90.0  70.0

In [150]:
df.isna()

       í•™êµ   í•™ìƒì´ë¦„     í•™ë…„   ìˆ˜í•™ì„±ì    êµ­ì–´ì„±ì    ì˜ì–´ì„±ì
0   False  False  False   True  False  False
1   False  False  False  False  False  False
2   False  False  False  False  False  False
3   False  False  False  False  False  False
4   False  False  False  False  False  False
5   False  False  False  False  False  False
6   False  False  False  False  False  False
7   False  False  False  False  False  False
8   False  False  False   True  False  False
9   False  False  False  False  False  False
10  False  False  False  False  False  False
11  False  False  False  False  False  False
12  False  False  False  False  False  False
13  False  False  False  False  False   True
14  False  False  False  False  False  False
15  False  False  False  False  False  False
16  False  False  False  False  False  False
17  False  False  False  False   True  False
18  False  False  False   True  False  False
19  False  False  False  False  False  False

In [151]:
df.isna().sum()

í•™êµ      0
í•™ìƒì´ë¦„    0
í•™ë…„      0
ìˆ˜í•™ì„±ì     3
êµ­ì–´ì„±ì     1
ì˜ì–´ì„±ì     1
dtype: int64

In [152]:
df.isnull()

       í•™êµ   í•™ìƒì´ë¦„     í•™ë…„   ìˆ˜í•™ì„±ì    êµ­ì–´ì„±ì    ì˜ì–´ì„±ì
0   False  False  False   True  False  False
1   False  False  False  False  False  False
2   False  False  False  False  False  False
3   False  False  False  False  False  False
4   False  False  False  False  False  False
5   False  False  False  False  False  False
6   False  False  False  False  False  False
7   False  False  False  False  False  False
8   False  False  False   True  False  False
9   False  False  False  False  False  False
10  False  False  False  False  False  False
11  False  False  False  False  False  False
12  False  False  False  False  False  False
13  False  False  False  False  False   True
14  False  False  False  False  False  False
15  False  False  False  False  False  False
16  False  False  False  False  False  False
17  False  False  False  False   True  False
18  False  False  False   True  False  False
19  False  False  False  False  False  False

In [155]:
df.isna().any(axis=1)  # í–‰ ë‹¨ìœ„ë¡œ ê²°ì¸¡ì¹˜ê°€ ìˆëŠ”ì§€ í™•ì¸

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17     True
18     True
19    False
dtype: bool

In [156]:
df.isna().any(axis=0)  # ì—´ ë‹¨ìœ„ë¡œ ê²°ì¸¡ì¹˜ê°€ ìˆëŠ”ì§€ í™•ì¸

í•™êµ      False
í•™ìƒì´ë¦„    False
í•™ë…„      False
ìˆ˜í•™ì„±ì      True
êµ­ì–´ì„±ì      True
ì˜ì–´ì„±ì      True
dtype: bool

In [ ]:
# any() function of pandas
df[df.isna().any(axis=1)] # ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” í–‰ë§Œ ì„ íƒ

   í•™êµ í•™ìƒì´ë¦„  í•™ë…„  ìˆ˜í•™ì„±ì   êµ­ì–´ì„±ì   ì˜ì–´ì„±ì
0   A   ì² ìˆ˜   1   NaN  85.0  90.0
8   C   ì² ìˆ˜   3   NaN  85.0  90.0
13  B   ì˜í¬   2  70.0  95.0   NaN
17  C   ì˜í¬   3  60.0   NaN  70.0
18  A   ë¯¼ìˆ˜   1   NaN  70.0  75.0

In [157]:
df_cleaned = df.dropna()  # ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” í–‰ ì œê±°
df_cleaned.head(10)

   í•™êµ í•™ìƒì´ë¦„  í•™ë…„  ìˆ˜í•™ì„±ì   êµ­ì–´ì„±ì   ì˜ì–´ì„±ì
1   B   ì˜í¬   2  85.0  90.0  70.0
2   C   ë¯¼ìˆ˜   3  90.0  70.0  75.0
3   A   ì§€ì˜   1  70.0  75.0  80.0
4   B   ì² ìˆ˜   2  75.0  80.0  95.0
5   C   ì˜í¬   3  80.0  95.0  60.0
6   A   ë¯¼ìˆ˜   1  95.0  60.0  70.0
7   B   ì§€ì˜   2  60.0  70.0  85.0
9   A   ì˜í¬   1  80.0  90.0  70.0
10  B   ë¯¼ìˆ˜   2  75.0  70.0  75.0
11  C   ì§€ì˜   3  85.0  75.0  80.0

In [158]:
# ê²°ì¸¡ì¹˜ ì±„ì›Œ ë„£ê¸° 
fill_values = { 'ìˆ˜í•™ì„±ì ': 0, 'êµ­ì–´ì„±ì ': 0, 'ì˜ì–´ì„±ì ': 0 }
df.fillna(value=fill_values, inplace=True)
df.head(10)

  í•™êµ í•™ìƒì´ë¦„  í•™ë…„  ìˆ˜í•™ì„±ì   êµ­ì–´ì„±ì   ì˜ì–´ì„±ì
0  A   ì² ìˆ˜   1   0.0  85.0  90.0
1  B   ì˜í¬   2  85.0  90.0  70.0
2  C   ë¯¼ìˆ˜   3  90.0  70.0  75.0
3  A   ì§€ì˜   1  70.0  75.0  80.0
4  B   ì² ìˆ˜   2  75.0  80.0  95.0
5  C   ì˜í¬   3  80.0  95.0  60.0
6  A   ë¯¼ìˆ˜   1  95.0  60.0  70.0
7  B   ì§€ì˜   2  60.0  70.0  85.0
8  C   ì² ìˆ˜   3   0.0  85.0  90.0
9  A   ì˜í¬   1  80.0  90.0  70.0

In [ ]:
# ê²°ì¸¡ì¹˜ ë³´ê°„